/* Front Page
----------------------------------------------------------------------------------------------------*/
/* line 4, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page {
  /* .nav-primary {
    //display: inline-block;
    float: none;
    width: 60%;
  }
  
  .white .nav-primary {
    float: left;
    width: 60%;
  }
   */
  /*  .genesis-nav-menu .sub-menu a,
  .white .genesis-nav-menu a,
  .white .offscreen-content-icon button,
  .white .site-title a,
  .header-image.front-page .genesis-nav-menu a,
  .header-image.front-page .genesis-nav-menu .sub-menu a,
  .header-image.front-page .offscreen-content-icon button {
   color: #000;
  }
  
   .genesis-nav-menu a:hover,
   .genesis-nav-menu a:focus,
   .offscreen-content-icon button:hover,
   .offscreen-content-icon button:focus,
   {
    color: #d43c67;
  }*/ }
  /* line 6, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page .site-inner {
    margin-top: 0;
    max-width: 100%;
    padding-top: 0; }
  /* line 12, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page .site-header {
    position: fixed; }
  /* line 16, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page .site-header {
    background-color: rgba(0, 0, 0, 0.3);
    transition: background 0.25s cubic-bezier(0.42, 0, 0.94, 0.63);
    border-bottom: 1px solid transparent;
    /* @media only screen and (min-width: 800px) { */ }
    /* line 22, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
    .front-page .site-header .wrap {
      display: -ms-flexbox;
      display: flex; }
    /* line 28, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
    .front-page .site-header #cart_and_my_account {
      border: 1px solid red;
      float: right;
      width: 20%;
      height: 20px; }
  /* line 46, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page .nav-primary .genesis-nav-menu a,
  .front-page .offscreen-content-icon button,
  .front-page .site-title a,
  .front-page .site-title a:hover,
  .front-page .site-title a:focus {
    color: #fff; }
  /* line 76, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page .full-width-content .content {
    border-right: none;
    max-width: 100%;
    padding: 0; }
  /* line 82, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page .content .entry {
    background: none; }
  /* line 86, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page .widget p.thirty {
    margin-bottom: 30px; }
  /* line 90, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page img {
    vertical-align: top; }

/* Front Page Sections
----------------------------------------------------------------------------------------------------*/
/* line 98, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-1,
.front-page-3,
.front-page-5,
.front-page-7 {
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover; }

/* line 107, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-2,
.front-page-3,
.front-page-4,
.front-page-5,
.front-page-6,
.front-page-7 {
  border-top: 73px solid transparent;
  margin-top: -73px;
  background-clip: padding-box;
  position: relative;
  z-index: 9; }

/* line 120, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-1 .wrap,
.front-page-2 .wrap,
.front-page-3 .wrap,
.front-page-4 .wrap,
.front-page-5 .wrap,
.front-page-6 .wrap,
.front-page-7 .wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px; }

/* line 134, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-2 .widget-title,
.front-page-3 .widget-title,
.front-page-4 .widget-title,
.front-page-5 .widget-title,
.front-page-6 .widget-title,
.front-page-7 .widget-title {
  font-size: 48px;
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  font-family: "segoe script bold"; }

/*Front Page 1
----------------------------------------------------------------------------------------------------*/
/* line 152, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-1 {
  height: 100vh; }

/* line 156, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-1 {
  display: table;
  overflow: hidden;
  padding: 73px 0;
  table-layout: fixed;
  text-align: center;
  width: 100%; }

/* line 165, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-1 .widget-area {
  display: table-cell;
  vertical-align: middle;
  width: 100%; }

/* line 173, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-1 .widget {
  margin-bottom: 40px; }

/* line 177, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-1 p,
.front-page-1 .widget-title {
  color: #fff;
  font-family: "segoe script bold"; }

/* .front-page-1 a {
  border-bottom: 1px solid #fff;
  font-family: "Open Sans", sans serif;
}

.front-page-1 a:hover,
.front-page-1 a:focus,
.front-page-1 .featured-content .entry-meta a:hover,
.front-page-1 .featured-content .entry-meta a:focus,
.front-page-1 .featured-content .entry-title a:hover,
.front-page-1 .featured-content .entry-title a:focus {
  color: #ccc;
}

.front-page-1 a:hover,
.front-page-1 a:focus {
  border-bottom: 1px solid #ccc;
}

.front-page-1 a.button {
  border-bottom: none;
} */
/* line 206, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-1 .widget-title {
  font-size: 96px;
  font-size: 9.6rem;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: -10px;
  text-transform: none; }

/* line 216, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-1 p {
  font-size: 22px;
  font-size: 2.2rem;
  letter-spacing: 2px;
  text-transform: uppercase; }

/* line 223, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-1 p:last-child {
  margin-bottom: 0; }

/*Front Page 2
----------------------------------------------------------------------------------------------------*/
/* line 233, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-2 {
  padding-bottom: 140px;
  padding-top: 120px; }
  /* line 237, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page-2 h3 {
    text-align: center; }
    /* line 239, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
    .front-page-2 h3:after {
      border-bottom: 1px solid #000;
      content: "";
      display: block;
      margin: 0 auto 40px;
      padding-bottom: 30px;
      width: 2.5%; }
  /* line 249, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page-2 img {
    border: 4px solid rgba(0, 0, 0, 0.2); }

/* line 259, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-2 .widget-full .wrap {
  max-width: 1060px; }

/* line 264, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-2 p {
  /*   font-size: 30px;
  font-size: 3rem; */
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.5; }

/* .front-page-2 p:last-child {
  margin-bottom: 0;
}

.front-page-2 button:focus,
.front-page-2 button:hover,
.front-page-2 input:focus[type="button"],
.front-page-2 input:hover[type="button"],
.front-page-2 input:focus[type="reset"],
.front-page-2 input:hover[type="reset"],
.front-page-2 input:focus[type="submit"],
.front-page-2 input:hover[type="submit"],
.front-page-2 .textwidget a.button:focus,
.front-page-2 .textwidget a.button:hover {
  background-color: #000;
  border: none;
  color: #fff;
}
 */
/*Front Page 3
----------------------------------------------------------------------------------------------------*/
/* line 295, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-3 {
  background-color: #666;
  color: #fff;
  padding-bottom: 180px;
  padding-top: 170px;
  text-align: center; }

/* line 303, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-3 .widget-full .wrap {
  max-width: 960px; }

/* line 307, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-3,
.front-page-3 a,
.front-page-3 p,
.front-page-3 .featured-content .entry-title a,
.front-page-3 .widget-title {
  color: #fff; }

/* line 315, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-3 a {
  display: inline-block;
  padding: 0.45em;
  font-size: 4rem;
  background-color: rgba(199, 143, 85, 0.2); }
  /* line 320, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page-3 a:before {
    background-color: #5a8897; }
  /* line 323, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page-3 a i {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; }

/* line 333, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-3 a:hover,
.front-page-3 a:focus,
.front-page-3 .featured-content .entry-meta a:hover,
.front-page-3 .featured-content .entry-meta a:focus,
.front-page-3 .featured-content .entry-title a:hover,
.front-page-3 .featured-content .entry-title a:focus {
  color: #ccc;
  background: none; }

/* line 343, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-3 a:hover,
.front-page-3 a:focus {
  border-bottom: 1px solid #ccc; }

/* line 348, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-3 a.button,
.front-page-3 .featured-content .entry-header::after {
  border-bottom: none; }

/* line 353, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-3 p {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.75; }

/* line 359, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page-3 p:last-child {
  margin-bottom: 0; }

/*Front Page 4
----------------------------------------------------------------------------------------------------

.front-page-4 {
  padding-bottom: 180px;
  padding-top: 170px;
  text-align: center;
}

.front-page-4 .widget-full .wrap {
  max-width: 960px;
}

.front-page-4 p {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.75;
}

.front-page-4 p:last-child {
  margin-bottom: 0;
}

.front-page-4 button:focus,
.front-page-4 button:hover,
.front-page-4 input:focus[type="button"],
.front-page-4 input:hover[type="button"],
.front-page-4 input:focus[type="reset"],
.front-page-4 input:hover[type="reset"],
.front-page-4 input:focus[type="submit"],
.front-page-4 input:hover[type="submit"],
.front-page-4 .textwidget a.button:focus,
.front-page-4 .textwidget a.button:hover {
  background-color: #000;
  border: none;
  color: #fff;
}


/* Front Page 5
----------------------------------------------------------------------------------------------------

.front-page-5 {
  background-color: #666;
  color: #fff;
  padding-bottom: 180px;
  padding-top: 170px;
  text-align: center;
}

.front-page-5 .widget-full .wrap {
  max-width: 960px;
}

.front-page-5,
.front-page-5 a,
.front-page-5 p,
.front-page-5 .featured-content .entry-title a,
.front-page-5 .widget-title {
  color: #fff;
}

.front-page-5 a {
  border-bottom: 1px solid #fff;
}

.front-page-5 a:hover,
.front-page-5 a:focus,
.front-page-5 .featured-content .entry-meta a:hover,
.front-page-5 .featured-content .entry-meta a:focus,
.front-page-5 .featured-content .entry-title a:hover,
.front-page-5 .featured-content .entry-title a:focus {
  color: #ccc;
}

.front-page-5 a:hover,
.front-page-5 a:focus {
  border-bottom: 1px solid #ccc;
}

.front-page-5 a.button,
.front-page-5 .featured-content .entry-header::after {
  border-bottom: none;
}

.front-page-5 p {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.75;
}

.front-page-5 p:last-child {
  margin-bottom: 0;
}


Front Page 6
----------------------------------------------------------------------------------------------------

.front-page-6 {
  padding-bottom: 180px;
  padding-top: 170px;
  text-align: center;
}

.front-page-6 .widget-full .wrap {
  max-width: 960px;
}

.front-page-6 p {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.75;
}

.front-page-6 p:last-child {
  margin-bottom: 0;
}

.front-page-6 button:focus,
.front-page-6 button:hover,
.front-page-6 input:focus[type="button"],
.front-page-6 input:hover[type="button"],
.front-page-6 input:focus[type="reset"],
.front-page-6 input:hover[type="reset"],
.front-page-6 input:focus[type="submit"],
.front-page-6 input:hover[type="submit"],
.front-page-6 .textwidget a.button:focus,
.front-page-6 .textwidget a.button:hover {
  background-color: #000;
  border: none;
  color: #fff;
}


Front Page 7
----------------------------------------------------------------------------------------------------

.front-page-7 {
  background-color: #666;
  color: #fff;
  padding-bottom: 180px;
  padding-top: 170px;
  text-align: center;
}

.front-page-7 .widget-full .wrap {
  max-width: 960px;
}

.front-page-7,
.front-page-7 a,
.front-page-7 p,
.front-page-7 .featured-content .entry-title a,
.front-page-7 .widget-title {
  color: #fff;
}

.front-page-7 a {
  border-bottom: 1px solid #fff;
}

.front-page-7 a:hover,
.front-page-7 a:focus,
.front-page-7 .featured-content .entry-meta a:hover,
.front-page-7 .featured-content .entry-meta a:focus,
.front-page-7 .featured-content .entry-title a:hover,
.front-page-7 .featured-content .entry-title a:focus {
  color: #ccc;
}

.front-page-7 a:hover,
.front-page-7 a:focus {
  border-bottom: 1px solid #ccc;
}

.front-page-7 a.button,
.front-page-7 .featured-content .entry-header::after {
  border-bottom: none;
}

.front-page-7 p {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.75;
}

.front-page-7 p:last-child {
  margin-bottom: 0;
}
 */
/* Flexible Widgets
---------------------------------------------------------------------------------------------------- */
/* line 559, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.flexible-widgets .widget {
  float: left;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px; }

/* line 566, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.flexible-widgets.widget-full .widget {
  padding-left: 0;
  padding-right: 0; }

/* line 571, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.flexible-widgets .widget:last-of-type {
  margin-bottom: 0; }

/* line 575, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.flexible-widgets.widget-full .widget,
.flexible-widgets.widget-area .widget:nth-of-type(1),
.flexible-widgets.widget-halves.uneven .widget:last-of-type {
  width: 100%; }

/* line 581, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.flexible-widgets.widget-fourths .widget {
  width: 25%; }

/* line 585, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.flexible-widgets.widget-halves .widget {
  width: 50%; }

/* line 589, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.flexible-widgets.widget-thirds .widget {
  width: 33.33%; }

/* line 593, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.flexible-widgets.widget-halves .widget:nth-child(even),
.flexible-widgets.widget-thirds .widget:nth-child(3n+2),
.flexible-widgets.widget-fourths .widget:nth-child(4n+2) {
  clear: left; }

/* Content Boxes
----------------------------------------------------------------------------------------------------
 */
/* line 604, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page .content-box {
  padding: 50px 40px 60px; }

/* line 608, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page .solid-section .content-box {
  background-color: #f5f5f5; }

/* line 612, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page .content-box h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase; }

/* line 620, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.front-page .content-box p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.625;
  margin-bottom: 0; }

/* line 627, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.content-box .icon {
  font-size: 30px; }

/* Fadeup Effect
----------------------------------------------------------------------------------------------------
 */
/* line 637, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.js .fadeup-effect {
  opacity: 0;
  overflow: hidden;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out; }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px); }
  to {
    opacity: 1;
    transform: translateY(0); } }
/* line 650, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
.fadeInUp {
  animation-name: fadeInUp; }

/* Media Queries
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width: 1020px) {
  /* line 658, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page-3 a {
    font-size: 2.8rem; } }
@media only screen and (max-width: 800px) {
  /* line 666, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page .site-inner {
    margin-top: 0;
    padding: 0; }

  /*   .front-page .nav-primary .genesis-nav-menu a,
  .front-page .offscreen-content-icon button,
  .front-page .site-title a,
  .front-page .site-title a:hover,
  .front-page .site-title a:focus {
    color: #000;
  } */
  /* line 679, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page-1,
  .front-page-2,
  .front-page-3 {
    padding-bottom: 100px;
    padding-top: 100px; }

  /* line 690, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page-1 {
    height: auto; }

  /* line 694, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page-1 .widget-area {
    padding-top: 0; }

  /* line 698, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page-2 .wrap,
  .front-page-3 .wrap {
    padding-left: 5%;
    padding-right: 5%; }

  /*  .flexible-widgets.widget-halves .widget,
    .flexible-widgets.widget-thirds .widget,
    .front-page-6 .flexible-widgets.widget-area .widget:nth-of-type(1) {
      float: none;
      width: 100%;
    }
  
     .flexible-widgets .widget {
    padding-left: 0;
    padding-right: 0;
  }
  
  .flexible-widgets.widget-fourths .widget,
  .front-page-6 .flexible-widgets.widget-halves .widget,
  .front-page-6 .flexible-widgets.widget-halves.uneven .widget:last-of-type,
  .front-page-6 .flexible-widgets.widget-thirds .widget {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
  }
  
  .front-page-6 .flexible-widgets.widget-thirds .widget {
    clear: none;
  }
  
  .front-page-6 .flexible-widgets.widget-thirds .widget:nth-child(2n) {
    clear: left;
  } */ }
@media only screen and (max-width: 600px) {
  /* line 742, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .flexible-widgets.widget-fourths .widget,
  .front-page-6 .flexible-widgets.widget-thirds .widget,
  .front-page-6 .flexible-widgets.widget-halves .widget,
  .front-page-6 .flexible-widgets.widget-halves.uneven .widget:last-of-type {
    float: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%; }

  /* line 752, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page-1,
  .front-page-2,
  .front-page-3 {
    padding-bottom: 100px;
    padding-top: 100px; }

  /* line 763, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page-2 p,
  .front-page-3 p {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.5; }

  /* line 774, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page-1 .widget-title {
    font-size: 60px;
    font-size: 6rem;
    margin-bottom: 20px; }

  /* line 780, C:\Users\JJMA\Documents\Websites\www.dandelion.dev\wp-content\themes\infinity-pro\scss\partials\front-page.scss */
  .front-page-3 a {
    font-size: 2.2rem; } }
