/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/*$hamburger-types: (
3dx,
3dx-r,
3dy,
3dy-r,
arrow,
arrow-r,
arrowalt,
arrowalt-r,
boring,
collapse,
collapse-r,
elastic,
elastic-r,
emphatic,
emphatic-r,
slider,
slider-r,
spring,
spring-r,
stand,
stand-r,
  spin,
  spin-r,
  squeeze,
  vortex,
  vortex-r
) !default;
*/
/* line 3, C:/Users/JJMA/Documents/Websites/www.dandelion.dev/wp-content/themes/infinity-pro/scss/hamburgers/_base.scss */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  /* line 21, C:/Users/JJMA/Documents/Websites/www.dandelion.dev/wp-content/themes/infinity-pro/scss/hamburgers/_base.scss */
  .hamburger:hover {
    opacity: 0.7; }

/* line 31, C:/Users/JJMA/Documents/Websites/www.dandelion.dev/wp-content/themes/infinity-pro/scss/hamburgers/_base.scss */
.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

/* line 38, C:/Users/JJMA/Documents/Websites/www.dandelion.dev/wp-content/themes/infinity-pro/scss/hamburgers/_base.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  /* line 43, C:/Users/JJMA/Documents/Websites/www.dandelion.dev/wp-content/themes/infinity-pro/scss/hamburgers/_base.scss */
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  /* line 56, C:/Users/JJMA/Documents/Websites/www.dandelion.dev/wp-content/themes/infinity-pro/scss/hamburgers/_base.scss */
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  /* line 62, C:/Users/JJMA/Documents/Websites/www.dandelion.dev/wp-content/themes/infinity-pro/scss/hamburgers/_base.scss */
  .hamburger-inner::before {
    top: -10px; }
  /* line 66, C:/Users/JJMA/Documents/Websites/www.dandelion.dev/wp-content/themes/infinity-pro/scss/hamburgers/_base.scss */
  .hamburger-inner::after {
    bottom: -10px; }

/*
 * Spin
 */
/* line 6, C:/Users/JJMA/Documents/Websites/www.dandelion.dev/wp-content/themes/infinity-pro/scss/hamburgers/types/_spin.scss */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  /* line 10, C:/Users/JJMA/Documents/Websites/www.dandelion.dev/wp-content/themes/infinity-pro/scss/hamburgers/types/_spin.scss */
  .hamburger--spin .hamburger-inner::before {
    transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in; }
  /* line 15, C:/Users/JJMA/Documents/Websites/www.dandelion.dev/wp-content/themes/infinity-pro/scss/hamburgers/types/_spin.scss */
  .hamburger--spin .hamburger-inner::after {
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
/* line 22, C:/Users/JJMA/Documents/Websites/www.dandelion.dev/wp-content/themes/infinity-pro/scss/hamburgers/types/_spin.scss */
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  /* line 27, C:/Users/JJMA/Documents/Websites/www.dandelion.dev/wp-content/themes/infinity-pro/scss/hamburgers/types/_spin.scss */
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out; }
  /* line 34, C:/Users/JJMA/Documents/Websites/www.dandelion.dev/wp-content/themes/infinity-pro/scss/hamburgers/types/_spin.scss */
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); }
