/*
Media Queries
---------------------------------------------------------------------------------------------------- */
/* # Media Queries
---------------------------------------------------------------------------------------------------- */

/* Retina Display
--------------------------------------------- */

/*@media only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (-moz-min-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:3 / 2), only screen and (min-device-pixel-ratio:1.5) {
    select {
        background-image: url(images/select-arrow@2x.png);
    }

}*/


@media only screen and (max-width:1140px) {

}


/* Min-width 1024px
--------------------------------------------- */
@media only screen and (min-width:1024px) {

#menu-primary-menu {
li a#festi-cart  {
    display: none!important;
}}





}

/* Max-width 1023px
--------------------------------------------- */

@media only screen and (max-width:1023px) {

    .genesis-nav-menu a {
        padding-left: 10px;
        padding-right: 10px;
    }
}

/* Max-width 1076px
--------------------------------------------- */

@media only screen and (max-width:1076px) {

div a#festi-cart.woocart-show {
   display: none!important;
   @include hide-text;
}

#menu-primary-menu {
li  a#festi-cart  {
    display: block!important;
    background-color: transparent;
}
}

}

@media only screen and (max-width:1076px) and (min-width:801px) {
    .js {
     .nav-primary {
    margin-left: 0;
    }}
    .js .white .nav-primary {
    margin-left: auto;
    .my-account a  {
    position: static;
    outline: none;
    }}

.woocommerce #genesis-nav-primary, .woocommerce-account #genesis-nav-primary, .woocommerce-checkout #genesis-nav-primary, .woocommerce-cart #genesis-nav-primary, .page  #genesis-nav-primary {
    width: calc(100% - 10px);
    -ms-flex-pack: end;
        justify-content: flex-end;
 .my-account a  {
    position: static;
    outline: none;
}}

}

/* Min-width: 801px - Max-width 900px
--------------------------------------------- */
@media screen and (min-width:800px) and (max-width: 900px) {
     .site-inner {
        //margin-top: 0!important;
    }
}

/* Max-width 890px
--------------------------------------------- */
@media screen and (max-width:890px) {
/* Hide the Desktop Menu */

    #menu-primary-menu {
    display: none;
    padding: 0 10px;
    }

    .mm-page #header {
     display: block;
     position: absolute;
     left: 0;
     top: 13px;
}

    .mm-opened {
        .sub-menu.mm-listview {
     display: block!important;
}
   a#festi-cart.woocart-show {
       display: block!important;
       background-color: transparent;
   .festi-cart-text-after-quantity {
       display: none;
}}}

.site-header {
        //position: static;

    > .wrap {
        display: block;
    }
     .title-area {
        padding-bottom: 0;
        width: 100%;
        text-align: center;
        //position: static;
    }}

    .sidebar-primary {
        margin-top: 50px;
    }

  .site-title > a {
        background-position: center !important;
        display: block;
        float: none;
        margin: 0 auto;
        position: relative;
        top: 10px;
    }

    .genesis-nav-menu li,
    .header-image .title-area {
        float: none;
    }

    .site-description,
    .site-header .title-area {
    text-align: center;
    }

 h2 {
    @include font-size(38);
 }
    .offscreen-content-toggle .fa-search {
        @include font-size(32);
    }


}


/* Max-width 800px
--------------------------------------------- */

@media only screen and (max-width:800px) {
    .front-page-1 #text-3 {
    padding-top: 40px;
}

    .footer-widgets .wrap {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .content,
    .footer-widgets-3,
    .header-image .title-area,
    .js .genesis-nav-menu .sub-menu,
    .js .genesis-nav-menu .sub-menu a,
    .sidebar-primary,
    .title-area {
        width: 100%;
    }

    .footer-widgets-1,
    .footer-widgets-3 {
    width: 49.999%;
    }

    .footer-widgets-1 {
        -ms-flex-order: 1;
            order: 1;
    }

    .footer-widgets-2 {
        width: 100%;
        padding: 30px 0!important;
        margin-top: -30px;
        -ms-flex-order: 3;
            order: 3;
    #nav_menu-2 {
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
    ul {
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: center;
                justify-content: center;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
     li {
        margin: 0 0.5em;
     }}}}

    .footer-widgets-3 {
        -ms-flex-order: 2;
            order: 2;
    }

   .site-inner {
       // margin-top: 0!important;
    }

    body div.festi-cart-window-content {
      z-index:-1!important;
}


/*------ Front Page Styles -------*/

    .js {

    .site-header .title-area  {
    position: fixed;
     a {
        display: block;
    }}
    .my-account a span {
        display: inline-block;
    }
    .mm-page #header {
    position: fixed;
    z-index: 300;
    }
}

    .site-inner {
        margin-top: 0;
        padding-left: 5%;
        padding-right: 5%;
        /*padding-top: 60px;*/
    }
    .contact .site-inner {
        padding: 0;
    }

    .content,
    .content-sidebar .content,
    .sidebar-content .content {
        float: none;
        padding: 0;
    }

    .content-sidebar .content {
        border-right: none;
    }

    .sidebar-content .content {
        border-left: none;
    }

    .sidebar .widget {
        /*padding: 5%;*/
    }

    .sidebar .widget:last-child {
        border-bottom: none;
    }

    .footer-widgets-2 {
        padding-left: 0;
        padding-right: 0;
    }

   .offscreen-content-wrapper {
        position: static;
    }

}

/* Max-width 767px
--------------------------------------------- */
@media only screen and (max-width:767px) {

.footer-widgets-2 {
        margin-top: 0;
}
.woocommerce-checkout {
form[name=checkout] {

.col2-set {
  width: 100%;
  display: block;

.col-1,.col-2 {
  width: 100%;
}}}}

.site-footer .wrap {
    display: block;
p {
    margin-bottom: 6px;
}}

.flex {
display: block;
}

.flex-items {
    padding: 0 0.9em;
    width: 100%;
}

 .front-page-2 {
    .button-wrapper {
   a {
    font-size: 16px;
}}
    .shop-front {
    margin: 0 auto!important;
    display: block;
    text-align: center;
    width: 100%;
    img {
    float: none;
    }
    }

}

}

/* Max-width 600px
--------------------------------------------- */

@media only screen and (max-width:600px) {
 .footer-widgets .widget-area {
    padding-bottom: 0;
&:nth-of-type(n+2) {
    padding-top: 20px;
    padding-bottom: 10px;
}
  }

 .footer-widgets-1,
 .footer-widgets-2,
 .footer-widgets-3 {
    width: 100%;
   }

.after-entry .enews-widget,
    .landing-page .enews-widget,
    .lead-capture-page .enews-widget {
        padding: 20px;
        width: 100%;
    }

    .five-sixths,
    .four-sixths,
    .one-fourth,
    .one-half,
    .one-sixth,
    .one-third,
    .three-fourths,
    .three-sixths,
    .two-fourths,
    .two-sixths,
    .two-thirds {
        margin: 0;
        width: 100%;
    }

    .footer-widgets .wrap,
    .site-footer .wrap {
        padding-left: 20px;
        padding-right: 20px;
    }

    .offscreen-content .enews-widget {
        padding: 20px;
    }

    .offscreen-content p {
        line-height: 1.5;
    }
    .shipping {
        width: 100%;
    }
}




/* Max-width 530px
--------------------------------------------- */
@media only screen and (max-width:530px) {



}

/* Min-width 420px
--------------------------------------------- */
@media only screen and (min-width:420px) {
.site-title a,.white .site-header .site-title a {
     background-image: url(images/logo-large.svg);
    background-size: 300px 84px;
    background-position: top left;
    display: block!important;
    text-indent: -9999em;
    width: 300px;
    height: 84px;
}

.contact {
    .enquiry, #gform_submit_button_1 {
    margin-left: 40px;
}}

}

/* Max-width 419px
--------------------------------------------- */

@media only screen and (max-width:419px) {

.site-title a,.white .site-header .site-title a {
    top: 20px;
}

.woocommerce {
    .button.wc-forward {
        float: none;
        text-align: center;
        width: 100%;
    }
.wrps_related_products_area_title {
    margin-bottom: 45px;
}}

.post-type-archive,body.archive,.woocommerce {
 .figure-wrapper {
    display: block;
}}

}
