/* Icons
--------------------------------------------- */

span.dashicons {
  font-size: 20px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

/* Fonts
--------------------------------------------- */

@font-face {
  font-family: 'segoe script bold';
  src: url('fonts/segoe_script_bold.eot');
  src: url('fonts/segoe_script_bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/segoe_script_bold.woff') format('woff'),
    url('fonts/segoe_script_bold.ttf') format('truetype'),
    url('fonts/segoe_script_bold.svg') format('svg');
}
/*
@font-face {
  font-family: 'dandelion';
  src: url('fonts/dandelion.eot?29691374');
  src: url('fonts/dandelion.eot?29691374#iefix') format('embedded-opentype'),
       url('fonts/dandelion.woff?29691374') format('woff'),
       url('fonts/dandelion.ttf?29691374') format('truetype'),
       url('fonts/dandelion.svg?29691374#dandelion') format('svg');
  font-weight: normal;
  font-style: normal;
}


[data-icon]:before {
  font-family: "dandelion"!important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "dandelion" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before { content: '\e800'; } ''
 */