/* Forms
--------------------------------------------- */

input,
select,
textarea {
    background-color: $offwhite;
    border: 1px solid $lightgrey;
    border-radius: 0!important;
    color: #777;
    font-size: 16px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    padding: 12px;
    width: 100%;
}

input#yith-s {
    border:1px solid #b6d1da;
    padding: 16px;
    line-height: 1.6em;
}

input:focus,
textarea:focus {
    border: 1px solid #eee;
    outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
    width: auto;
}

::-moz-placeholder {
    color: #777;
    opacity: 1;
    font-weight: 300;
}

::-webkit-input-placeholder {
    color: #777;
    font-weight: 300;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
    background-color: $primary-link;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    padding: 10px 14px;
    text-transform: uppercase;
    width: auto;
    -webkit-font-smoothing: antialiased;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover,
.widget-area .widget .button:hover {
    color: $offwhite;
    background-color: $midblue;
}

.widget-area .widget .button {
    color: #fff;
}

.button {
    display: inline-block;
}


/* .button .dashicons {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    display: inline;
    margin-left: 20px;
    padding: 20px 0 20px 20px;
} */

.site-container button:disabled,
.site-container button:disabled:hover,
.site-container input:disabled,
.site-container input:disabled:hover,
.site-container input[type="button"]:disabled,
.site-container input[type="button"]:disabled:hover,
.site-container input[type="reset"]:disabled,
.site-container input[type="reset"]:disabled:hover,
.site-container input[type="submit"]:disabled,
.site-container input[type="submit"]:disabled:hover {
    background-color: #f5f5f5;
    border-width: 0;
    color: #666;
    cursor: not-allowed;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
    display: none;
}

.select2-drop-active, .select2-container .select2-choice {
    border: 1px solid darken($offwhite,18%);
}

select {
background-color: #ffffff;
background-repeat: no-repeat;
background-size: auto 15%;
border: 1px solid #dddddd;
border-radius: 0;
box-shadow: 0 -1.3em 1em 0 rgba(0, 0, 0, 0.02) inset;
color: #333333;
font-size: 95%;
height: 36px;
padding: 0 10px;
}


/* Search Form
--------------------------------------------- */
#yith_woocommerce_ajax_search-3 {
    h3 {
    @include font-size(28);
    }
    .search-navigation {
    display: block;
}
    input[type="submit"] {
    display: none;
    background-color: $darkbrown;
    float: right;
    padding: 10px 40px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition:    all 0.2s ease-in-out;
    -ms-transition:     all 0.2s ease-in-out;
    -o-transition:      all 0.2s ease-in-out;
    transition:         all 0.2s ease-in-out;
    &:hover {
    background-color: darken($primary-link-hover,20%);
    }
    }
}

.site-header .autocomplete-suggestion {
    @include font-size(20);
    .title {
    @include font-size(22);
    }
    .woocommerce-Price-amount {
     color: $maintext;
     font-weight: 600;
}}


/* Mailing List
--------------------------------------------- */

#gform_2 {
        input {
        padding: 8px;
        }
      li[id^='field'] {
        margin-bottom: 0;
      }
      input#gform_submit_button_2 {
        margin-top: 10px;
        background-color: lighten($blue,15%);
}}
