
/* Front Page
----------------------------------------------------------------------------------------------------*/
.front-page {

.site-inner {
  margin-top: 0;
  max-width: 100%;
  padding-top: 0;
}

.site-header {
        position: fixed;
    }

 .site-header  {
  background-color: rgba(0,0,0,0.3);
  transition: background 0.25s cubic-bezier(0.42, 0, 0.94, 0.63);
  border-bottom: 1px solid transparent;

/* @media only screen and (min-width: 800px) { */
  .wrap {
  display: -ms-flexbox;
  display: flex;
}


#cart_and_my_account {
  border: 1px solid red;
  float: right;
  width: 20%;
  height: 20px;
}}

.white .site-header {
    background-color: $blue;
}


/* .nav-primary {
  //display: inline-block;
  float: none;
  width: 60%;
}

.white .nav-primary {
  float: left;
  width: 60%;
}
 */
 .nav-primary .genesis-nav-menu a,
 .offscreen-content-icon button,
 .site-title a,
 .site-title a:hover,
 .site-title a:focus {
  color: #fff;
}

 .offscreen-content button,
 .offscreen-content-icon button {
  //background-color: transparent;
}

/*  .genesis-nav-menu .sub-menu a,
.white .genesis-nav-menu a,
.white .offscreen-content-icon button,
.white .site-title a,
.header-image.front-page .genesis-nav-menu a,
.header-image.front-page .genesis-nav-menu .sub-menu a,
.header-image.front-page .offscreen-content-icon button {
 color: #000;
}

 .genesis-nav-menu a:hover,
 .genesis-nav-menu a:focus,
 .offscreen-content-icon button:hover,
 .offscreen-content-icon button:focus,
 {
  color: #d43c67;
}*/
.full-width-content .content {
  border-right: none;
  max-width: 100%;
  padding: 0;
}

 .content .entry {
  background: none;
}

 .widget p.thirty {
  margin-bottom: 30px;
}

 img {
  vertical-align: top;
}}


/* Front Page Sections
----------------------------------------------------------------------------------------------------*/

.front-page-1,
.front-page-3,
.front-page-5,
.front-page-7 {
  background-position: fixed;
  background-repeat: no-repeat;
  background-size:         cover;
}

.front-page-2,
.front-page-3,
.front-page-4,
.front-page-5,
.front-page-6,
.front-page-7 {
  border-top: 73px solid transparent;
  margin-top: -73px;
  background-clip:         padding-box;
  position: relative;
  z-index: 9;
}

.front-page-1 .wrap,
.front-page-2 .wrap,
.front-page-3 .wrap,
.front-page-4 .wrap,
.front-page-5 .wrap,
.front-page-6 .wrap,
.front-page-7 .wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
}

.front-page-2 .widget-title,
.front-page-3 .widget-title,
.front-page-4 .widget-title,
.front-page-5 .widget-title,
.front-page-6 .widget-title,
.front-page-7 .widget-title {
  font-size: 48px;
  font-size: 4.8rem;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  font-family: "segoe script bold";
}

[class^="front"] .strapline {
  background-color: rgba(0,0,0,0.2);
  padding: 2em;
}
/*Front Page 1
----------------------------------------------------------------------------------------------------*/

.front-page-1 {
  height: 100vh;
}

.front-page-1 {
  display: table;
  overflow: hidden;
  padding: 73px 0;
  table-layout: fixed;
  text-align: center;
  width: 100%;


}

.front-page-1 .widget-area {
  display: table-cell;
  //padding-top: 20px;
  vertical-align: middle;
  width: 100%;

}

.front-page-1 .widget {
  margin-bottom: 40px;
}

.front-page-1 p,
.front-page-1 .widget-title {
  color: #fff;
  font-family: "segoe script bold";
}

/* .front-page-1 a {
  border-bottom: 1px solid #fff;
  font-family: "Open Sans", sans serif;
}

.front-page-1 a:hover,
.front-page-1 a:focus,
.front-page-1 .featured-content .entry-meta a:hover,
.front-page-1 .featured-content .entry-meta a:focus,
.front-page-1 .featured-content .entry-title a:hover,
.front-page-1 .featured-content .entry-title a:focus {
  color: #ccc;
}

.front-page-1 a:hover,
.front-page-1 a:focus {
  border-bottom: 1px solid #ccc;
}

.front-page-1 a.button {
  border-bottom: none;
} */

.front-page-1 .widget-title {
  //font-family: 'Cormorant Garamond', serif;
  font-size: 96px;
  font-size: 9.6rem;
  font-weight: 400;
  letter-spacing: -2px;
  margin-bottom: -10px;
  text-transform: none;
}

.front-page-1 p {
  font-size: 22px;
  font-size: 2.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.front-page-1 p:last-child {
  margin-bottom: 0;
}




/*Front Page 2
----------------------------------------------------------------------------------------------------*/

.front-page-2 {
  padding-bottom: 140px;
  padding-top: 120px;
  //text-align: center;
h3 {
  text-align: center;
&:after {
            border-bottom: 1px solid #000;
            content: "";
            display: block;
            margin: 0 auto 40px;
            padding-bottom: 30px;
            width: 2.5%;
        }
}

img {
  border: 4px solid rgba(0,0,0,0.2);
}

.button.shop-now {

}

}

.front-page-2 .widget-full .wrap {
  //max-width: 960px;
  max-width: 1060px;
}

.front-page-2 p {
/*   font-size: 30px;
font-size: 3rem; */
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.5;
}

.front-page-2 p:last-child {
  margin-bottom: 0;
}
/* 
.front-page-2 button:focus,
.front-page-2 button:hover,
.front-page-2 input:focus[type="button"],
.front-page-2 input:hover[type="button"],
.front-page-2 input:focus[type="reset"],
.front-page-2 input:hover[type="reset"],
.front-page-2 input:focus[type="submit"],
.front-page-2 input:hover[type="submit"],
.front-page-2 .textwidget a.button:focus,
.front-page-2 .textwidget a.button:hover {
  background-color: #000;
  border: none;
  color: #fff;
}
 */

/*Front Page 3
----------------------------------------------------------------------------------------------------*/

.front-page-3 {
  background-color: #666;
  color: #fff;
  padding-bottom: 180px;
  padding-top: 170px;
  text-align: center;
}

.front-page-3 .widget-full .wrap {
  max-width: 960px;
}

.front-page-3,
.front-page-3 a,
.front-page-3 p,
.front-page-3 .featured-content .entry-title a,
.front-page-3 .widget-title {
  color: #fff;
}

.front-page-3 a {
  display: inline-block;
  padding: 0.45em;
  font-size: 4rem;
  background-color:  rgba(199,143,85,0.2);
&:before {
  background-color:    #5a8897;
}
i {
      -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
}

.front-page-3 a:hover,
.front-page-3 a:focus,
.front-page-3 .featured-content .entry-meta a:hover,
.front-page-3 .featured-content .entry-meta a:focus,
.front-page-3 .featured-content .entry-title a:hover,
.front-page-3 .featured-content .entry-title a:focus {
  color: #ccc;
  background: none;
}

.front-page-3 a:hover,
.front-page-3 a:focus {
  border-bottom: 1px solid #ccc;
}

.front-page-3 a.button,
.front-page-3 .featured-content .entry-header::after {
  border-bottom: none;
}

.front-page-3 p {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.75;
}

.front-page-3 p:last-child {
  margin-bottom: 0;
}


/*Front Page 4
----------------------------------------------------------------------------------------------------*/

.front-page-4 {
  padding-bottom: 180px;
  padding-top: 170px;
  text-align: center;
  background-color: #E6E6E6;
  @include n-columns(350px, 20px, true, 3);

/*  .wrap {
 max-width: 1040px;
}
*/
section {
max-width: 1040px;
margin: 0 auto;
}

p {
/*   font-size: 30px;
font-size: 3rem;
line-height: 1.75; */
  font-size: 20px;
  font-size: 2rem;
  line-height: 1.5;
  text-align: left;

&:last-child {
  margin-bottom: 0;
}}

.products {

.product {
-webkit-align-content: center;
        align-content: center;

margin-bottom: 20px;
 @extend %flex;
 -webkit-flex-direction: column;
     -ms-flex-direction: column;
         flex-direction: column; 

a {
  color: rgb(67, 75, 78);
}
}

.products_info {
  background: #fff;
-webkit-box-shadow: 1px 0 1px #eee;
        box-shadow: 1px 0 1px #eee;
  padding: 15px;
  font-size: 14px;
  text-align: left;
  
}}}


/* Front Page 5
----------------------------------------------------------------------------------------------------*/

.front-page-5 {
  background-color: #666;
  color: #fff;
  padding-bottom: 180px;
  padding-top: 170px;
  text-align: center;
}

.front-page-5 .widget-full .wrap {
  max-width: 960px;
}

.front-page-5,
.front-page-5 a,
.front-page-5 p,
.front-page-5 .featured-content .entry-title a,
.front-page-5 .widget-title {
  color: #fff;
}

.front-page-5 a {
  border-bottom: 1px solid #fff;
}

.front-page-5 a:hover,
.front-page-5 a:focus,
.front-page-5 .featured-content .entry-meta a:hover,
.front-page-5 .featured-content .entry-meta a:focus,
.front-page-5 .featured-content .entry-title a:hover,
.front-page-5 .featured-content .entry-title a:focus {
  color: #ccc;
}

.front-page-5 a:hover,
.front-page-5 a:focus {
  border-bottom: 1px solid #ccc;
}

.front-page-5 a.button,
.front-page-5 .featured-content .entry-header::after {
  border-bottom: none;
}

.front-page-5 p {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.75;
}

.front-page-5 p:last-child {
  margin-bottom: 0;
}


/*Front Page 6
----------------------------------------------------------------------------------------------------

.front-page-6 {
  padding-bottom: 180px;
  padding-top: 170px;
  text-align: center;
}

.front-page-6 .widget-full .wrap {
  max-width: 960px;
}

.front-page-6 p {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.75;
}

.front-page-6 p:last-child {
  margin-bottom: 0;
}

.front-page-6 button:focus,
.front-page-6 button:hover,
.front-page-6 input:focus[type="button"],
.front-page-6 input:hover[type="button"],
.front-page-6 input:focus[type="reset"],
.front-page-6 input:hover[type="reset"],
.front-page-6 input:focus[type="submit"],
.front-page-6 input:hover[type="submit"],
.front-page-6 .textwidget a.button:focus,
.front-page-6 .textwidget a.button:hover {
  background-color: #000;
  border: none;
  color: #fff;
}


Front Page 7
----------------------------------------------------------------------------------------------------

.front-page-7 {
  background-color: #666;
  color: #fff;
  padding-bottom: 180px;
  padding-top: 170px;
  text-align: center;
}

.front-page-7 .widget-full .wrap {
  max-width: 960px;
}

.front-page-7,
.front-page-7 a,
.front-page-7 p,
.front-page-7 .featured-content .entry-title a,
.front-page-7 .widget-title {
  color: #fff;
}

.front-page-7 a {
  border-bottom: 1px solid #fff;
}

.front-page-7 a:hover,
.front-page-7 a:focus,
.front-page-7 .featured-content .entry-meta a:hover,
.front-page-7 .featured-content .entry-meta a:focus,
.front-page-7 .featured-content .entry-title a:hover,
.front-page-7 .featured-content .entry-title a:focus {
  color: #ccc;
}

.front-page-7 a:hover,
.front-page-7 a:focus {
  border-bottom: 1px solid #ccc;
}

.front-page-7 a.button,
.front-page-7 .featured-content .entry-header::after {
  border-bottom: none;
}

.front-page-7 p {
  font-size: 30px;
  font-size: 3rem;
  line-height: 1.75;
}

.front-page-7 p:last-child {
  margin-bottom: 0;
}
 */

/* Flexible Widgets
---------------------------------------------------------------------------------------------------- */

.flexible-widgets .widget {
  float: left;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.flexible-widgets.widget-full .widget {
  padding-left: 0;
  padding-right: 0;
}

.flexible-widgets .widget:last-of-type {
  margin-bottom: 0;
}

.flexible-widgets.widget-full .widget,
.flexible-widgets.widget-area .widget:nth-of-type(1),
.flexible-widgets.widget-halves.uneven .widget:last-of-type {
  width: 100%;
}

.flexible-widgets.widget-fourths .widget {
  width: 25%;
}

.flexible-widgets.widget-halves .widget {
  width: 50%;
}

.flexible-widgets.widget-thirds .widget {
  width: 33.33%;
}

.flexible-widgets.widget-halves .widget:nth-child(even),
.flexible-widgets.widget-thirds .widget:nth-child(3n+2),
.flexible-widgets.widget-fourths .widget:nth-child(4n+2) {
  clear: left;
}


/* Content Boxes
----------------------------------------------------------------------------------------------------
 */

.front-page .content-box {
  padding: 50px 40px 60px;
}

.front-page .solid-section .content-box {
  background-color: #f5f5f5;
}

.front-page .content-box h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.front-page .content-box p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.625;
  margin-bottom: 0;
}

.content-box .icon {
  font-size: 30px;
}




/* Fadeup Effect
----------------------------------------------------------------------------------------------------
 */
.js .fadeup-effect {
  opacity: 0;
  overflow: hidden;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.fadeInUp {
  animation-name: fadeInUp;
}


/* Media Queries
---------------------------------------------------------------------------------------------------- */
@media only screen and (max-width:1020px) {
  .front-page-3 a {
    font-size: 2.8rem;
  }

}

@media only screen and (max-width: 800px) {

  .front-page .site-inner {
    margin-top: 0;
    padding: 0;
  }

/*   .front-page .nav-primary .genesis-nav-menu a,
.front-page .offscreen-content-icon button,
.front-page .site-title a,
.front-page .site-title a:hover,
.front-page .site-title a:focus {
  color: #000;
} */

  .front-page-1,
  .front-page-2,
  .front-page-3,
/*   .front-page-4,
 .front-page-5,
 .front-page-6,
 .front-page-7 */ {
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .front-page-1 {
    height: auto;
  }

  .front-page-1 .widget-area {
    padding-top: 0;
  }

  .front-page-2 .wrap,
  .front-page-3 .wrap,
/*   .front-page-4 .wrap,
 .front-page-5 .wrap,
 .front-page-6 .wrap,
 .front-page-7 .wrap */ {
    padding-left: 5%;
    padding-right: 5%
  }

/*  .flexible-widgets.widget-halves .widget,
  .flexible-widgets.widget-thirds .widget,
  .front-page-6 .flexible-widgets.widget-area .widget:nth-of-type(1) {
    float: none;
    width: 100%;
  }

   .flexible-widgets .widget {
  padding-left: 0;
  padding-right: 0;
}

.flexible-widgets.widget-fourths .widget,
.front-page-6 .flexible-widgets.widget-halves .widget,
.front-page-6 .flexible-widgets.widget-halves.uneven .widget:last-of-type,
.front-page-6 .flexible-widgets.widget-thirds .widget {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  width: 50%;
}

.front-page-6 .flexible-widgets.widget-thirds .widget {
  clear: none;
}

.front-page-6 .flexible-widgets.widget-thirds .widget:nth-child(2n) {
  clear: left;
} */

}

@media only screen and (max-width: 600px) {

  .flexible-widgets.widget-fourths .widget,
  .front-page-6 .flexible-widgets.widget-thirds .widget,
  .front-page-6 .flexible-widgets.widget-halves .widget,
  .front-page-6 .flexible-widgets.widget-halves.uneven .widget:last-of-type {
    float: none;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .front-page-1,
  .front-page-2,
  .front-page-3,
  /* .front-page-4,
  .front-page-5,
  .front-page-6,
  .front-page-7  */{
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .front-page-2 p,
  .front-page-3 p,
/*   .front-page-4 p,
 .front-page-5 p,
 .front-page-6 p,
 .front-page-7 p */ {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.5;
  }

  .front-page-1 .widget-title {
    font-size: 60px;
    font-size: 6rem;
    margin-bottom: 20px;
  }

    .front-page-3 a {
    font-size: 2.2rem;
  }

}