/*---------------------------------

Links and general styles

----------------------------------*/

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button {
  outline: none;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

::-moz-selection {
  background-color: #777;
  color: #fff;
}

::selection {
  background-color: #777;
  color: #fff;
}

a {
  color: $primary-link;
  text-decoration: none;
  outline:none;
}

a:hover {
  color: $primary-link-hover;
}

p {
  margin: 0 0 30px;
  padding: 0;
  font-weight: 300;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

b,
strong {
  font-weight: 700;
}

mark {
  background-color: #f5f5f5;
  color: #000;
}

blockquote,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 40px;
}

blockquote::before {
  content: "\201C";
  display: block;
  font-size: 30px;
  height: 0;
  left: -20px;
  position: relative;
  top: -10px;
}


/* Objects
--------------------------------------------- */

embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%;
}

img {
  height: auto;
}

img.vertical {
  vertical-align: top;
}

figure {
  margin: 0;
}

/* Images
--------------------------------------------- */
.front-page-2  img {
  float: left;
  margin-top: 5px;
  margin: 0 20px 20px;
}

/* Front Page Images
--------------------------------------------- */
[class^='front-page'] {
  background-attachment: fixed;
}
@media screen and (min-width: 240px) {
.front-page-1 {
 background-image: url("images/shop-inside-mob-min.jpg");
}

.front-page-3 {
  background-image: url("images/from-inside-mob-min.jpg");
}}

@media screen and (min-width: 580px) {
.front-page-1 {
 background-image: url("images/shop-inside-980-min.jpg");
}

.front-page-3 {
  background-image: url("images/from-inside-980-min.jpg");
}}

@media screen and (min-width: 981px) {
.front-page-1 {
 background-image: url("images/shop-inside-1200-min.jpg");
}

.front-page-3 {
  background-image: url("images/from-inside-1200-min.jpg");
}}
@media screen and (min-width: 1200px) {
.front-page-1 {
 background-image: url("images/shop-inside-min.jpg");
}

.front-page-3 {
  background-image: url("images/from-inside-min.jpg");
}}