/*----------------------------------
Header
-----------------------------------*/

.title-area {
  float:left;
}


.nav-primary {
    float: left;
    text-align: center;
    width: 60%;
}

/*----------------------------------
Front Page
-----------------------------------*/








/*----------------------------------
Side Menu Block for Site Wide Links
-----------------------------------*/
