/*
Structure and Layout
---------------------------------------------------------------------------------------------------- */

/* #site_wide_introduction{
    position: fixed;
    background: #000;
    width: 100%;
}

.nav-secondary {
    background: blue;
}
*/

.site-header > .wrap {
    @extend %flex;
    -webkit-justify-content: center;
            justify-content: center;
    //width: 100%;

}

.site-inner {
    clear: both;
    margin: 73px auto 0;
    max-width: 1280px;
    word-wrap: break-word;
    padding-top: 20px;
}

.contact .site-inner {
    padding-top: 0;
    max-width: 100%;
}

.landing-page .site-inner,
.lead-capture-page .site-inner {
    margin-top: 0;
    max-width: 840px;
}

/* Primary Navigation
--------------------------------------------- */

/* .nav-primary {
    float: left;
   //margin-top: 2px;
    text-align: center;
    width: 70%;
} */

.nav-primary {
    @extend %flex;
    //text-align: center;
    //margin: auto;
    -webkit-justify-content: center;
            justify-content: center;
}


/* Content */

.content {
    float: right;
    //padding: 80px 60px;
    //padding: 0 30px 30px;
    //width: 65%;
    width: 72.22222%;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
}

.content-sidebar .content {
    //border-right: 1px solid #eee;
    float: left;
}

.sidebar-content .content {
    border-left: 1px solid #eee;
}

.full-width-content .content {
    border-right: none;
    float: none;
    margin-left: auto;
    margin-right: auto;
    //max-width: 840px;
    max-width: 1160px;
    width: 100%;
}

.home.full-width-content .content {
    max-width: 100%;
}

.full.full-width-content .content {
    max-width: 100%;
}


/* Primary Sidebar */

.sidebar-primary {
   // border: 1px solid green;
    float: right;
    //width: 35%;
    width: 22.2222%;
    margin-left: 1.38889%;
    margin-right: 1.38889%;
    margin-top: 50px;
}

.sidebar-content .sidebar-primary {
    float: left;
}


/* Header
--------------------------------------------- */

.site-header .wrap {
 //@extend %flex;
}


/* Float Clearing
--------------------------------------------- */


.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.widget:before,
.wrap:before {
    content: " ";
    display: table;
}

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.widget:after,
.wrap:after {
    clear: both;
    content: " ";
    display: table;
}