// Rock Hammer by Stuff and Nonsense
// Version: <!-- $version -->
// URL: http://stuffandnonsense.co.uk/projects/rock-hammer/
// Version: <!-- $license -->

// Typography =============================================
//============================================================
// @include rem(font-size, 1.6rem);
//  @include rem(padding, 20px 10px);
//============================================================
@mixin font-size($font-size: 16){
font-size : #{$font-size}px;
font-size : #{$font-size / 16}rem; }

@mixin css-hyphens($val:auto) {
-webkit-hyphens : $val;
-moz-hyphens : $val;
-ms-hyphens : $val;
-o-hyphens : $val;
hyphens : $val; }


@mixin heading-1 {
  font-size: 3rem;
}
@mixin heading-2 {
  font-size: 2.4rem
}
@mixin heading-3 {
  font-size: 2rem
}

/*
Then declare your headings as
h1 {@include heading-1}
h2 {@include heading-2}
h3 {@include heading-3}

 */
// hidden

@mixin hidden {
display : none !important;
visibility : hidden; }

@mixin hide-text {
font: 0/0 a;
text-shadow: none;
color: transparent;
}

@mixin invisible {
visibility : hidden; }

@mixin visuallyhidden {
overflow : hidden;
position : absolute;
clip : rect(0 0 0 0);
height : 1px;
width : 1px;
margin : -1px;
padding : 0;
border : 0;

&.focusable {

&:active,
&:focus {
position : static;
clip : auto;
height : auto;
width : auto;
margin : 0;
overflow: visible; }
}
}


// .rotate(VALUEdeg);

@mixin rotate($deg) {
-webkit-transform : rotate($deg);
-moz-transform : rotate($deg);
-ms-transform : rotate($deg);
-o-transform : rotate($deg);
transform : rotate($deg); }

// .scale(VALUE);

@mixin scale($ratio) {
-webkit-transform : scale($ratio);
-moz-transform : scale($ratio);
-ms-transform : scale($ratio);
-o-transform : scale($ratio);
transform : scale($ratio); }

// .skew(VALUE, VALUE);

@mixin skew($x: 0, $y: 0) {
-webkit-transform : skew($x, $y);
-moz-transform : skew($x, $y);
-ms-transform : skew($x, $y);
-o-transform : skew($x, $y);
transform : skew($x, $y); }

// .translate(VALUE, VALUE)

@mixin translate($x: 0, $y: 0) {
-webkit-transform : translate($x, $y);
-moz-transform : translate($x, $y);
-ms-transform : translate($x, $y);
-o-transform : translate($x, $y);
transform : translate($x, $y); }

@mixin translate3d($x: 0, $y: 0, $z: 0) {
-webkit-transform : translate($x, $y, $z);
-moz-transform : translate($x, $y, $z);
-ms-transform : translate($x, $y, $z);
-o-transform : translate($x, $y, $z);
transform : translate($x, $y, $z); }

// .background-size(VALUE VALUE);

@mixin background-size($size){
-webkit-background-size : $size;
-moz-background-size : $size;
-o-background-size : $size;
background-size : $size; }

// .background-clip(VALUE); (border-box, padding-box, content-box)

@mixin background-clip($clip) {
-webkit-background-clip : $clip;
-moz-background-clip : $clip;
background-clip : $clip; }

// @include resize(VALUE) (none, both, horizontal, vertical, inherit)

@mixin resize($direction: both) {
resize : $direction;
overflow : auto; }

// @include placeholder(VALUE) (color)

@mixin placeholder($color : $secondarycolor) {

&:-moz-placeholder {
@include font-size(14);
color : $color; }

&::-moz-placeholder {
@include font-size(14);
color : $color; }

&:-ms-input-placeholder {
@include font-size(14);
color : $color; }

&::-webkit-input-placeholder {
@include font-size(14);
color : $color; }
}

// @include overflow

@mixin text-overflow {
overflow : hidden;
text-overflow : ellipsis;
white-space : nowrap; }

// ---------------- Clearing --------------
@mixin clearfix {
    &:after, &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    & {
        *zoom: 1;
    }
}
.clearfix {
    @include clearfix;
}
// 5. POSITIONING        ==============================

// Absolute Positioning

@mixin position ($position: absolute, $coordinates: 0 0 0 0) {
  @if type-of($position) == list {
    $coordinates: $position;
    $position: absolute;
  }
  $top: nth($coordinates, 1);
  $right: nth($coordinates, 2);
  $bottom: nth($coordinates, 3);
  $left: nth($coordinates, 4);
  position: $position;
  @if $top == auto {
    top: $top;
  }
  @else if not(unitless($top)) {
    top: $top;
  }
  @if $right == auto {
    right: $right;
  }
  @else if not(unitless($right)) {
    right: $right;
  }
  @if $bottom == auto {
    bottom: $bottom;
  }
  @else if not(unitless($bottom)) {
    bottom: $bottom;
  }
  @if $left == auto {
    left: $left;
  }
  @else if not(unitless($left)) {
    left: $left;
  }
}

// Arrows

//============================================================
// @param direction : up, down, left, right
// @param color : hex, rgb //
//============================================================

$black: #000;

@mixin arrow($width: 20px, $height: 10px, $direction: up, $color: $black) {


// Right
@if $direction == right {
border-top: $height/2 solid transparent;
border-bottom: $height/2 solid transparent;
border-left: $width solid $color;
}

// Left
@if $direction == left {
border-top: $height/2 solid transparent;
border-bottom: $height/2 solid transparent;
border-right: $width solid $color;
}

// Up
@if $direction == up {
border-left: $width/2 solid transparent;
border-right: $width/2 solid transparent;
border-bottom: $height solid $color;
}

// Down
@if $direction == down {
border-left: $width/2 solid transparent;
border-right: $width/2 solid transparent;
border-top: $height solid $color;
}

height: 0;
width: 0;
}


/*------------------------------------------------------------------------

FLEXBOX

-------------------------------------------------------------------------*/
@mixin n-columns($min-width, $gutter, $last-equal: true, $max-cols:4) {
  ul.products {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-justify-content: center;
            -ms-flex-pack: center;
        justify-content: center;
    margin-left: -$gutter;
    margin-top: -$gutter;

  li.product {
      -webkit-flex: 1 0 $min-width;
      -ms-flex: 1 0 $min-width;
          flex: 1 0 $min-width!important;
      margin-left: $gutter;
      margin-top: $gutter;
      border: none;
      @if $last-equal {
        @for $i from 2 through $max-cols {
          $screen-width: ($min-width*$i)+($gutter*$i);
          $column-width: (100%/$i);
          @media (min-width: $screen-width) {
            max-width: calc(#{$column-width} - #{$gutter});
            min-width: calc(#{$column-width} - #{$gutter});
          }
        }

        $column-width: (100%/$max-cols);
        @media (min-width: $min-width*$max-cols) {
            max-width: calc(#{$column-width} - #{$gutter});
            min-width: calc(#{$column-width} - #{$gutter});
        }
      }
    }
  }
}



/*------------------------------------------------------------------------

ANIMATIONS

-------------------------------------------------------------------------*/
// prefix declarations
@mixin prefixed($property, $value) {
  @if $webkit == true {
    -webkit-#{$property}: #{$value};
  }

  @if $moz == true {
    -moz-#{$property}: #{$value};
  }

  @if $ms == true {
    -ms-#{$property}: #{$value};
  }

  @if $o == true {
    -o-#{$property}: #{$value};
  }

  #{$property}: #{$value};
}

// prefix keyframes
@mixin keyframes($name) {
  @if $webkit == true {
    @-webkit-keyframes #{$name} {
      @content;
    }
  }

  @if $moz == true {
    @-moz-keyframes #{$name} {
      @content;
    }
  }

  @if $ms == true {
    @-ms-keyframes #{$name} {
      @content;
    }
  }

  @if $o == true {
    @-o-keyframes #{$name} {
      @content;
    }
  }

  @keyframes #{$name} {
    @content;
  }
}






/*----------------------------
Animated Styles
-----------------------------*/
/* Shutter In Horizontal */
@mixin shutter-in-horizontal {
  @include hacks();
  position: relative;
  background: $activeColor;
  @include prefixed(transition-property, color);
  @include prefixed(transition-duration, $mediumDuration);

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $primaryColor;
    @include prefixed(transform, scaleX(1));
    @include prefixed(transform-origin, 50%);
    @include prefixed(transition-property, transform);
    @include prefixed(transition-duration, $mediumDuration);
    @include prefixed(transition-timing-function, ease-out);
  }

  &:hover,
  &:focus,
  &:active {
    color: white;

    &:before {
      @include prefixed(transform, scaleX(0));
    }
  }
}


/* Outline In */
@mixin outline-in {
  $outerBorderWidth: 4px;
  $innerBorderWidth: 4px;

  @include hacks();
  position: relative;

  &:before {
    pointer-events: none;
    content: '';
    position: absolute;
    border: $primaryColor solid $outerBorderWidth;
    top: -($outerBorderWidth + $innerBorderWidth) * 2;
    right: -($outerBorderWidth + $innerBorderWidth) * 2;
    bottom: -($outerBorderWidth + $innerBorderWidth) * 2;
    left: -($outerBorderWidth + $innerBorderWidth) * 2;
    opacity: 0;
    @include prefixed(transition-duration, .3s);
    @include prefixed(transition-property, "top, right, bottom, left");
  }

  &:hover:before,
  &:focus:before,
  &:active:before {
    top: -($outerBorderWidth + $innerBorderWidth);
    right: -($outerBorderWidth + $innerBorderWidth);
    bottom: -($outerBorderWidth + $innerBorderWidth);
    left: -($outerBorderWidth + $innerBorderWidth);
    opacity: 1;
  }
}
/* Bounce To Bottom */
@mixin bounce-to-bottom {
  @include hacks();
  position: relative;
  @include prefixed(transition-property, color);
  @include prefixed(transition-duration, $slowDuration);

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $activeColor;
    @include prefixed(transform, scaleY(0));
    @include prefixed(transform-origin, 50% 0);
    @include prefixed(transition-property, transform);
    @include prefixed(transition-duration, $slowDuration);
    @include prefixed(transition-timing-function, ease-out);
  }

  &:hover,
  &:focus,
  &:active {
    color: white;

    &:before {
      @include prefixed(transform, scaleY(1));
      @include prefixed(transition-timing-function, cubic-bezier(.52,1.64,.37,.66));
    }
  }
}


/* Sweep To Bottom */
@mixin sweep-to-bottom {
  @include hacks();
  position: relative;
  @include prefixed(transition-property, color);
  @include prefixed(transition-duration, $mediumDuration);
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $activeColor;
    @include prefixed(transform, scaleY(0));
    @include prefixed(transform-origin, 50% 0);
    @include prefixed(transition-property, transform);
    @include prefixed(transition-duration, $mediumDuration);
    @include prefixed(transition-timing-function, ease-out);
  }

  &:hover,
  &:focus,
  &:active {
    color: white;

    &:before {
      @include prefixed(transform, scaleY(1));
    }
  }
}

/* Shutter Out Horizontal */
@mixin shutter-out-horizontal {
  @include hacks();
  position: relative;
  background: $primaryColor;
  @include prefixed(transition-property, color);
  @include prefixed(transition-duration, $mediumDuration);

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $activeColor;
    @include prefixed(transform, scaleX(0));
    @include prefixed(transform-origin, 50%);
    @include prefixed(transition-property, transform);
    @include prefixed(transition-duration, $mediumDuration);
    @include prefixed(transition-timing-function, ease-out);
  }

  &:hover,
  &:focus,
  &:active {
    color: white;

    &:before {
      @include prefixed(transform, scaleX(1));
    }
  }
}
