/*
Site Navigation
---------------------------------------------------------------------------------------------------- */

@media only screen and (min-width:891px) {

/* .site-container > #header */
.site-header #header
 {
    display: none;
}

.genesis-nav-menu {
     display: -ms-flexbox;
     display: flex;
}

.genesis-nav-menu {
    .menu-item {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;

a  {
    color: #fff;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 22px;
    @include font-size(22);
    @include bounce-to-bottom;
    letter-spacing: 2px;
    padding: 30px 15px;
    text-decoration: none;
    text-transform: uppercase;
}}

li.my-account + li {
    display: inline-block;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;

 a {
    color: #fff;

    //display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 22px;
    @include font-size(22);
    letter-spacing: 2px;
    padding: 30px 15px;
    text-decoration: none;
    text-transform: uppercase;
 }
 }


/* Formatting for the my Account, Search and Add to Cart Links */
.my-account a  {
    @include position(absolute, 0 35px 0 0);
    outline: none;
span {
    display: none;
}
&:before {
    outline: none;
    transform: none;
    background: none;
}
&:hover {
    color: $lightblue;
&:before, &:after  {
    outline: none;
    transform: none;
    background: none;
}}
}}


.genesis-nav-menu a:hover,
.genesis-nav-menu a:focus,
.genesis-nav-menu .current-menu-item > a,
.genesis-nav-menu .sub-menu .current-menu-item > a:hover,
.genesis-nav-menu .sub-menu .current-menu-item > a:focus {
    color: $lightbrown;
    text-decoration: none;
}

.genesis-nav-menu .sub-menu {
    border-top: 1px solid lighten( $lightblue, 8%);
    left: -9999px;
    opacity: 0;
    position: absolute;
    transition:         opacity .4s ease-in-out;
    width: 200px;
    z-index: 99;

}

.genesis-nav-menu .sub-menu a {
    background-color: darken($lightblue, 10%);
    color: $offwhite;
    border: 1px solid lighten( $lightblue, 8%);
    border-top: 0;
    padding: 6px 10px;
    position: relative;
    width: 200px;
    word-wrap: break-word;
&:hover {
    background-color: $lightblue;
    color: darken($textgrey,1%)!important;
}
}

.genesis-nav-menu .sub-menu .sub-menu {
    //margin: -52px 0 0 199px;
   margin: -36px 0 0 199px;
}

.genesis-nav-menu .menu-item:hover {
    position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
    left: auto;
    opacity: 1;
}}

/* Accessible Menu
--------------------------------------------- */

.menu .menu-item:focus {
    position: static;
}

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
    left: auto;
    opacity: 1;
}

.sub-menu-toggle,
.menu-toggle {
    display: none;
    visibility: hidden;
}


/* Site Header Navigation
--------------------------------------------- */

.site-header .genesis-nav-menu li li {
    margin-left: 0;
}



/* Secondary Navigation
--------------------------------------------- */

.site-footer .genesis-nav-menu a {
    color: #fff;
}

.nav-secondary .genesis-nav-menu > li.menu-item-has-children > a:hover,
.nav-secondary .genesis-nav-menu > li.menu-item-has-children > a:focus {
    border-color: #67ddab;
}


/* Footer Navigation
--------------------------------------------- */

.site-footer .genesis-nav-menu {
    padding-bottom: 20px;
}

.site-footer .genesis-nav-menu a {
    padding: 0 20px 10px;
}


/* Skip Links
--------------------------------------------- */

.genesis-skip-link {
    margin: 0;
}

.genesis-skip-link li {
    height: 0;
    list-style: none;
    width: 0;
}

/* Display outline on focus */
:focus {
    color: #666;
    outline: 1px dotted #ccc;
}


/*  Responsive Nav
--------------------------------------------- */

/*-----------------
Page Dim for Menu
------------------*/
html.mm-pagedim #mm-blocker,html.mm-pagedim-black #mm-blocker,html.mm-pagedim-white #mm-blocker{opacity:0}html.mm-pagedim-black.mm-opening #mm-blocker,html.mm-pagedim-white.mm-opening #mm-blocker,html.mm-pagedim.mm-opening #mm-blocker{opacity:.3;-webkit-transition:opacity .4s ease .4s;transition:opacity .4s ease .4s}html.mm-pagedim #mm-blocker{background:inherit}html.mm-pagedim-white #mm-blocker{background:#fff}html.mm-pagedim-black #mm-blocker{background:#000}


/*----------------------
Dark Theme
-----------------------*/
.mm-menu.mm-theme-dark {
    background: #333;
    border-color: rgba(0, 0, 0, .15);
    color: rgba(255, 255, 255, .8)
}

.mm-menu.mm-theme-dark .mm-navbar a,
.mm-menu.mm-theme-dark .mm-navbar>*,
.mm-menu.mm-theme-dark em.mm-counter {
    color: rgba(255, 255, 255, .4)
}

.mm-menu.mm-theme-dark .mm-btn:after,
.mm-menu.mm-theme-dark .mm-btn:before {
    border-color: rgba(255, 255, 255, .4)
}

.mm-menu.mm-theme-dark .mm-listview {
    border-color: rgba(0, 0, 0, .15)
}

.mm-menu.mm-theme-dark .mm-listview>li .mm-next:after {
    border-color: rgba(255, 255, 255, .4)
}

.mm-menu.mm-theme-dark .mm-listview>li a:not(.mm-next) {
    -webkit-tap-highlight-color: rgba(0, 0, 0, .1);
    tap-highlight-color: rgba(0, 0, 0, .1)
}

.mm-menu.mm-theme-dark .mm-listview>li.mm-selected>a:not(.mm-next),
.mm-menu.mm-theme-dark .mm-listview>li.mm-selected>span {
    background: rgba(0, 0, 0, .1)
}

.mm-menu.mm-theme-dark .mm-divider,
.mm-menu.mm-theme-dark .mm-fixeddivider span,
.mm-menu.mm-theme-dark .mm-listview>li.mm-opened.mm-vertical>.mm-panel,
.mm-menu.mm-theme-dark .mm-listview>li.mm-opened.mm-vertical>a.mm-next,
.mm-menu.mm-theme-dark.mm-vertical .mm-listview>li.mm-opened>.mm-panel,
.mm-menu.mm-theme-dark.mm-vertical .mm-listview>li.mm-opened>a.mm-next {
    background: rgba(255, 255, 255, .05)
}

.mm-menu.mm-theme-dark label.mm-check:before {
    border-color: rgba(255, 255, 255, .8)
}

.mm-menu.mm-shadow-page.mm-theme-dark:after,
.mm-menu.mm-shadow-panels .mm-panel.mm-opened:nth-child(n+2) {
    box-shadow: 0 0 20px rgba(0, 0, 0, .5)
}

.mm-menu.mm-theme-dark .mm-search input {
    background: rgba(255, 255, 255, .3);
    color: rgba(255, 255, 255, .8)
}

.mm-menu.mm-theme-dark .mm-indexer a,
.mm-menu.mm-theme-dark .mm-noresultsmsg {
    color: rgba(255, 255, 255, .4)
}

.mm-menu.mm-hoverselected.mm-theme-dark .mm-listview>li>a.mm-fullsubopen:hover+span,
.mm-menu.mm-hoverselected.mm-theme-dark .mm-listview>li>a:not(.mm-fullsubopen):hover,
.mm-menu.mm-parentselected.mm-theme-dark .mm-listview>li>a.mm-selected.mm-fullsubopen+a,
.mm-menu.mm-parentselected.mm-theme-dark .mm-listview>li>a.mm-selected.mm-fullsubopen+span,
.mm-menu.mm-parentselected.mm-theme-dark .mm-listview>li>a.mm-selected:not(.mm-fullsubopen) {
    background: rgba(0, 0, 0, .1)
}

.mm-menu.mm-theme-dark label.mm-toggle {
    background: rgba(0, 0, 0, .15)
}

.mm-menu.mm-theme-dark label.mm-toggle:before {
    background: #333
}

.mm-menu.mm-theme-dark input.mm-toggle:checked~label.mm-toggle {
    background: #4bd963
}


/* Side Nav
--------------------------------------------- */

