/*
Plugins
---------------------------------------------------------------------------------------------------- */

/* Woocommerce
---------------------------------------------*/

/* In Menu Cart */



/*---- Form Display on Single Products

input[type="number"] {
    -moz-appearance: textfield;
}

.minus {
    border:none;
    color:#fff;
    background-color:purple;
    height:30px;
    width:30px;
}
.plus {
    border:none;
    color:#fff;
    background-color:purple;
    height:30px;
    width:30px;
}
.qty {
    border:1px solid purple;
    color:purple;
    height:30px;

}
----*/


/*
.woocommerce.executive-pro-green {

Display Product Grid
[id^="displayProduct"] {

.dp-list-desctiption p {
    font-size: 15px!important;
}}

.products  h2 {
    @include font-size(24);
}

ul.products li.product, .woocommerce-page ul.products li.product, .woocommerce ul.products li.product .price {
    text-align: center;
}

ul.products li.product .button {
    padding: 8px 6px;
    border: 1px solid rgb(101, 182, 101);
}

@media only screen and (max-width: 382px) {

a.cosy.button {
    text-align: center;
    width: 100%;
    white-space: normal;
    line-height: 1.5em;
    padding: 4px 2px;
}
#tab-description ul li, #tab-description blockquote {
    margin: 0;
}
}


.product {
    .woocommerce-tabs {
    margin-bottom: 20px;

    ul.tabs {
        margin: 0;
        padding-left: 0.5em;
    &:before {
        border-bottom: 0;
}
    &:after {
        box-shadow: none;
    }
    li {
    border-bottom: none;
    }
}
    .panel {
        border: 1px solid #d3ced2;
        padding: 1.5em;
        margin: 0;
    p:last-of-type {
        margin-bottom: 0;
}}}

.price {
    font-weight: 700!important;

}

.product_meta {
    span {
        display: block;
        @include font-size (14);

    > span {
        display: inline-block;
}}}

button.single_add_to_cart_button.button.alt {
    padding: 0.4em 1em;
    background-color:  rgb(132, 190, 8);
}

@media only screen and (max-width: 767px) {
 .woocommerce-tabs {
    ul.tabs {
     li {
        display: block;
        width: 100%;
        margin-bottom: 10px;
        border-radius: 0;
        border-bottom: 1px solid #d3ced2;

    &:before, &:after {
        display:none;
}}}
  .panel {
    padding: 1.25em;
}
    ul.tabs li.active {
        border-bottom: 1px solid #d3ced2;
}}}


}}

 */
/*
.woocommerce-checkout #payment ul.payment_methods li {
    list-style-type: none;
}

Related Products Slider
.owl-theme .owl-controls .owl-buttons div {
    background-color:  rgb(132, 190, 8);
}

Upselling

@media screen and (min-width: 490px) and (max-width: 1400px) {
    .upsells .owl-item {
    width: auto!important;
}}



#displayProduct {
    h2.product-name {
        @include font-size(22);
    }
    .dp-list-desctiption p {
        @include font-size(16);
    }
     a.dp-button  {
       background-color:  rgb(132, 190, 8)!important;
       @include font-size(11);
     }
}
@media screen and (max-width: 767px) {
    .displayProduct-shortcode {
        .dp-list-add-to-cart.dp-col_1_of_5 {
        width: 100%!important;
        display: block;
        margin: 10px 0 20px;
        padding-top: 10px;
    }
        .dp-list-desctiption {
        border-right: none!important;
    }
    .dp-list-price.dp-price {
        text-align: center;
    }
    .product_list .dp-section:hover .dp-col {
        border-color: white!important;
    }
}
    .dp-col_3_of_5 {
         width: 78%!important;
    }
}

@media screen and (max-width: 480px) {
    .dp-col_3_of_5 {
    width: 100%!important;
}} */


/* Slider Pro
--------------------------------------------
.home_slider {
    h2.sp-layer {
        font-size: 2em;
        background: rgba(245,245,244,0.5);
        border-radius: 2px;
        letter-spacing: 1px;
        line-height: 1em;
        padding: 0.1em 0.5em;
        display:block;
        text-shadow: -1px 0 0 rgba(255,255,255,0.8);
    &:hover {
        background: darken(rgba(145,255,144,0.3),5%);
    }
    a {
        color: #1e1e1e;
        font-style: normal;
    }}

@media only screen and (min-width: 321px) and (max-width: 815px) {
    h2.sp-layer {
        left: 50px!important;
        @include font-size(24);
    }}
@media only screen and (max-width: 320px) {
    h2.sp-layer {
        @include font-size(18);
        left: 5px!important;
}}}


-*/


/* Slick Slider
---------------------------------------------*/





