/* Woocommerce Globals
---------------------------------------------------------------------------------------------------- */

.woocommerce {
    .full-width-content .content,
    .woocommerce-page.full-width-content .content {
        max-width: 1280px;
    }
    .page-title,
    .archive-title  {
        text-align: center;
        &:after {
            border-bottom: 1px solid #000;
            content: "";
            display: block;
            margin: 0 auto 40px;
            padding-bottom: 30px;
            width: 2.5%;
        }
    }
    img {
        border: 1px solid #9daeb3;
    }
    /*------ Buttons --------*/
    a.button,
    .added_to_cart,
    .single_add_to_cart_button,
    .wpb_wrps_cart_btn a {
        @include shutter-out-horizontal;
        background-color: $darkbrown!important;
        margin-top: auto!important;
        color: $offwhite;
        font-weight: 400;
        font-size: 14px!important;
        &:before {
            background-color: darken($lightbrown, 10%);
        }
        &:hover {
            background-color: $lightbrown;
            color: $maintext;
        }
    }
    .product_type_simple {
        width: 80%;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
    .added_to_cart,
    .button.wc-forward {
        background-color: $blue!important;
        padding: .2em 1em;
        margin-top: 10px!important;
        text-transform: uppercase;
        border-radius: 3px;
        &:before {
            background-color: $lightblue;
        }
    }
    .added_to_cart {
        margin: 0 auto;
        position: relative;
    }
    .button.wc-forward {
        padding: .618em 1em;
    }
    .woocommerce-pagination {
        text-align: right!important;
        margin-bottom: 20px;
        ul.page-numbers {
            border: 1px solid #40636f;
            li {
                background-color: $midblue;
                border-right: 1px solid #40636f;
                span.current {
                    background: #FFF;
                }
                a {
                    color: $offwhite;
                    &:hover {
                        background-color: $lightblue;
                    }
                }
            }
        }
    }
}


/* End of Globals*/


/* Woocommerce Header Totals
---------------------------------------------------------------------------------------------------- */

.cart-total {
    display: inline-block;
    background: $lightbrown;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    color: $maintext;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    margin-left: 5px;
    font-size: 10px;
    vertical-align: middle;
    position: relative;
    top: 0;
    right: 0;
    margin-left: 0;
    margin-right: 5px;
}

.site-header .woocommerce-Price-amount {
    font-size: 14px;
    color: white;
    font-weight: 800;
    /* &:after {
  content: '|';
  display: inline-block;
  padding-left: 5px;
} */
}

.logged-in #festi-cart {
  margin-top: 32px;
}

#festi-cart {
    .festi-cart-text-after-quantity {
        display: none;
    }
    .woocommerce-Price-amount.amount {
        margin-left: 5px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
    }
}


/* In Menu Cart */

li > a#festi-cart.festi-cart.festi-cart-customize {
    padding: 30px 15px!important;
}


/* Woocommerce Shop / Category Pages
---------------------------------------------------------------------------------------------------- */

.post-type-archive,
body.archive,
.woocommerce {
    .content {
        /*border: 1px solid purple;*/
        @include n-columns(180px, 20px, true, 4);
    }
    .entry {
        @extend %zero;
    }
    .woocommerce-ordering {
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -ms-flex-pack: end;
        justify-content: flex-end;
        select {
            width: 25%;
            padding: 0.2em;
        }
    }
    .figure-wrapper {
        //display: -ms-flexbox;
        //display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
    figure {
        @extend %flex;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        /*border: 1px solid black;*/
        text-align: center;
        height: 100%;
        .price {
            @include position(absolute, 9px 0 0 -5px);
            .woocommerce-Price-amount.amount {
                color: $offwhite;
                /*display: inline-block;*/
                margin: 0;
                padding: 5px 10px 5px 10px;
                background-color: darken($lightblue, 25%);
                position: relative;
                border-radius: 0 2px 2px 0;
                &:before {
                    @include position(absolute, -5px 0 0 0);
                    border-top: 5px solid transparent;
                    border-right: 5px solid darken($lightblue, 35%);
                    content: "";
                    left: 0;
                }
            }
        }
        h3 {
            position: relative;
            font-family: 'Open Sans', sans-serif;
            color: $blue!important;
            font-weight: 600;
            font-size: 14px!important;
            word-wrap: break-word;
            white-space: normal;
            text-transform: capitalize;
            position: relative;
        }
    }
}

.shop.woocommerce ul.products li.product h3 {
            text-align: center;
}

/* End of .woocommerce wrapper*/


/* Woocommerce Single Product Page
---------------------------------------------------------------------------------------------------- */


/* .type-product*/

#summary-wrapper {
    @extend %flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    .images-wrapper {
        width: 49.99%;
    }
    div.images {
        a {
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex: 1;
            flex: 1;
            max-width: 500px;
        }
   div.thumbnails {
    @extend %flex;
    a {
    @extend %flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    flex: 0 1 147px;
    margin-right: 10px;
    }
   }

    }
    div.summary {
        width: 49.99%;
        padding-left: 20px;
        //border: 1px solid purple;
        /*   @extend %flex;
-webkit-flex: 0 1 43%;
     -ms-flex: 0 1 43%;
         flex: 0 1 43%; */
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-direction: column;
        flex-direction: column;
        h1 {
            @include font-size(52);
        }
        p.price {
            color: lighten($maintext, 8%);
            margin-bottom: 15px;
            font-style: italic;
            line-height: 1;
            font-weight: 700;
        }
    }
    form.cart {
        input {
            padding: 5px 2px;
            font-size: 14px;
        }
    }
    h2 {
        @include font-size(32);
    }
    .shop_attributes {
        background-color: darken($offwhite, 1%);
        padding: 0.5em;
        li {
            @include font-size(24);
            margin-bottom: 8px;
        }
        .icon {
            width: 19px;
            height: 19px;
            fill: darken($midblue, 5%);
        }
        .material .icon,
        .burn-time .icon {
            height: 23px;
        }
        .scent .icon {
            height: 24px;
            width: 25px;
        }
        a,
        a:hover {
            color: $maintext;
            padding-bottom: 2px;
            border-bottom: 1px dashed #cdcdd6;
        }
    }
}

.wrps_related_products_area {
    @extend %flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    .wpb-wrps-item {
        margin: 0 4px!important;
    }
    figure {
        text-align: center;
        height: 100%;
        @extend %flex;
        -ms-flex-direction: column;
        flex-direction: column;
        figcaption {
            padding: 10px 4px;
            &:hover {
                height: auto!important;
            }
        }
        h3 {
            font-weight: 300;
        }
    }
    .wpb_wrps_cart_btn a {
        font-family: 'Open Sans', sans-serif;
        border: none;
        border-radius: 4px;
    }
    /*  h2 {
   text-align: center;
 } */
}


/* Quickview */

#jckqv {
    h1 {
        @include font-size(52);
        font-family: "segoe script bold";
    }
    p.price {
        color: lighten($maintext, 8%);
        margin-bottom: 15px;
        font-style: italic;
        line-height: 1;
        font-weight: 700;
    }
    h2 {
        display: none;
    }
    .shop_attributes {
        background-color: darken($offwhite, 1%);
        padding: 0.5em;
        li {
            @include font-size(24);
            margin-bottom: 8px;
        }
        .icon {
            width: 19px;
            height: 19px;
            fill: darken($midblue, 5%);
        }
        .material .icon,
        .burn-time .icon {
            height: 23px;
        }
        .scent .icon {
            height: 24px;
            width: 25px;
        }
        a,
        a:hover {
            color: $maintext;
            padding-bottom: 2px;
            border-bottom: 1px dashed #cdcdd6;
        }
    }
}

.festi-cart-pop-up-body {
    .festi-cart-pop-up-header,
    .festi-cart-title {
        font-family: "segoe script bold";
    }
    div.festi-cart-product-count-and-price {
        text-align: left;
    }
    a.festi-cart-view-cart,
    {
        background-color: $primary-link!important;
    }
    .festi-cart-continue-shopping {
        color: $primary-link!important;
        font-size: 14px!important;
    }
}


/* Woocommerce Sidebar
---------------------------------------------------------------------------------------------------- */


/*---- Woocommerce Sidebar --------*/

#genesis-sidebar-primary {
    h3 {
        @include font-size(38);
    }
    /*---- Product Categories ---*/
    .product-categories {
        @extend %zero;
        padding: 0 0 15px 0;
        li {
            @extend %zero;
            @include font-size(26);
            padding: 4px 0 0 20px;
            position: relative;
            transition: all 0.35s;
            -moz-transition: all 0.35s;
            -ms-transition: all 0.35s;
            &:after {
                content: "\f1db";
                color: $primary-link;
                font-family: "FontAwesome";
                font-size: 14px;
                position: absolute;
                top: 6px;
                left: 0;
            }
            &:hover {
                padding-left: 23px;
            }
        }
        li:hover:after {
            content: "\f058";
        }
        .count {
            color: lighten($blue, 6%);
            @include font-size(18);
            @include position(absolute, 0 1px 0 0);
        }
        a:hover {
            color: $midblue;
        }
        li.current-cat:after,
        li.current-cat-parent:after {
            content: "\f058";
        }
        li.current-cat:hover,
        li.current-cat-parent:hover {
            padding-left: 20px;
        }
        /* End of Categories */
    }
    /* Price Filter */
    .widget_price_filter {
        .ui-slider .ui-slider-handle {
            background-color: $blue;
        }
        .ui-slider .ui-slider-range {
            background-color: lighten($blue, 8%);
        }
        .ui-widget-content {
            background-color: darken($blue, 20%);
        }
        .price_slider_amount button {
            float: right;
            font-size: 12px;
            font-weight: 700;
            padding: 1px 0;
            border: 0;
            color: $midblue;
            background-color: $offwhite;
            &:hover {
                color: lighten($blue, 6%);
            }
        }
        .price_label {
            float: left;
            line-height: 14px;
            font-size: 12px;
            text-transform: uppercase;
            color: #131219;
            .from,
            .to {
                font-weight: 700;
            }
        }
    }
    /*---- Active Filter ---*/
    #woocommerce_layered_nav_filters-2 {
        background-color: lighten($blue, 8%);
        @extend %zero;
        @extend %flex;
        -ms-flex-pack: center;
        justify-content: center;
        .chosen {
        margin-bottom: 0;
            a {
                color: $offwhite;
                font-size: 12px;
                &:before {
                    font-size: 11px;
                    color: $offwhite;
                    margin: 0 4px;
                }
            }
        }
    }
    /*---- Recent Products ---*/
    .widget_recently_viewed_products {
        /*text-align: center;*/
        .woocommerce-Price-amount.amount {
            @include font-size(20);
        }
        li {
            line-height: 1.33;
            list-style: outside none none;
            min-height: 80px;
            overflow: hidden;
            padding: 10px 75px 5px 0;
            position: relative;
            vertical-align: top;
            margin-bottom: 10px;
        }
        li a {
            font-weight: 300!important;
            line-height: 1.2;
        }
        img {
            height: 60px;
            right: 0;
            margin-bottom: 5px;
            object-fit: cover;
            object-position: 50% 50%;
            position: absolute;
            border: 4px solid rgba(245,245,245,0.3);
            top: 10px;
            width: 60px;
        }
        .product-title {
            display: block;
        }
        .amount {
            font-weight: 600;
            display: block;
            width: 100%;
        }
    }
}




/* End of Sidebar*/


/* Woocommerce Product Tabs
---------------------------------------------------------------------------------------------------- */


/* .woocommerce div.product .woocommerce-tabs ul.tabs:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li {
  border-color: #eee;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before {
  display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
  background-color: #f5f5f5;
  border-radius: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
  color: #000;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover,
.woocommerce div.product .woocommerce-tabs ul.tabs li a:focus {
  color: #d43c67;
}
 */


/* Woocommerce Checkout
---------------------------------------------------------------------------------------------------- */

.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li,
#add_payment_method #payment ul.payment_methods li {
    list-style-type: none;
}

.woocommerce-checkout {
    input.button {
        background-color: $primary-link;
        color: $offwhite;
        &:hover {
            background-color: $midblue;
            color: $offwhite;
        }
    }
    h3#ship-to-different-address {
        margin-top: 10px;
        padding-top: 20px;
        width: 100%;
        border-top: 1px solid darken($offwhite, 6%);
        @include font-size(30);
    }
    form[name=checkout] {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        .col2-set {
            width: 100%;
            display: -ms-flexbox;
            display: flex;
            .col-1,
            .col-2 {
                width: 50%;
                padding: 0 0.2em;
            }
        }
        #order_review_heading {
            margin: 20px auto;
            text-align: center;
        }
        #order_review {
            @extend %flex;
            width: 100%;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }
        .form-row.place-order {
            text-align: right;
        }
    }
    .shop_table thead {
        background-color: darken($offwhite, 5%);
    }
}


/* Woocommerce Cart Page
---------------------------------------------------------------------------------------------------- */

.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img,
#add_payment_method table.cart img {
    width: 75px!important;
}

.woocommerce a.remove {
    background-color: #eab1b1;
    line-height: 1em!important;
}

td.actions {
    text-align: right;
    padding-top: 15px;
    label[for=coupon_code] {
        display: none;
    }
    .coupon {
        float: left;
    }
    #coupon_code {
        width: 50%;
    }
    input[name='update_cart'] {
        background-color: $primary-link;
        color: $offwhite;
    }
}

.quantity {
    .qty {
        padding: 10px;
    }
}

.woocommerce .cart-collaterals {
    @extend %flex;
    width: 100%;
    -ms-flex-pack: end;
    justify-content: flex-end;
    .cart_totals {
        width: 50%;
    padding-right: 1.5em;
    }
}

.woocommerce table.shop_table,
.woocommerce table.shop_table td {
    border-color: #eee;
    border-radius: 0;
}

.woocommerce table.shop_table td.actions {
    padding-top: 15px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text {
    font-size: 18px;
    font-size: 1.8rem;
}

.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img,
#add_payment_method table.cart img {
    vertical-align: middle;
}


/* Woocommerce Disabled Buttons
---------------------------------------------------------------------------------------------------- */

.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled],
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled] {
    background-color: $primary-link-hover;
    color: #fff;
    padding: 12px 20px;
}

.woocommerce a.button.alt.disabled,
.woocommerce a.button.alt.disabled:hover,
.woocommerce a.button.alt:disabled,
.woocommerce a.button.alt:disabled:hover,
.woocommerce a.button.alt[disabled]:disabled,
.woocommerce a.button.alt[disabled]:disabled:hover,
.woocommerce button.button.alt.disabled,
.woocommerce button.button.alt.disabled:hover,
.woocommerce button.button.alt:disabled,
.woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt[disabled]:disabled,
.woocommerce button.button.alt[disabled]:disabled:hover,
.woocommerce input.button.alt.disabled,
.woocommerce input.button.alt.disabled:hover,
.woocommerce input.button.alt:disabled,
.woocommerce input.button.alt:disabled:hover,
.woocommerce input.button.alt[disabled]:disabled,
.woocommerce input.button.alt[disabled]:disabled:hover,
.woocommerce #respond input#submit.alt.disabled,
.woocommerce #respond input#submit.alt.disabled:hover,
.woocommerce #respond input#submit.alt:disabled,
.woocommerce #respond input#submit.alt:disabled:hover,
.woocommerce #respond input#submit.alt[disabled]:disabled,
.woocommerce #respond input#submit.alt[disabled]:disabled:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
    background-color: $primary-link-hover;
    color: #000
}


/* Woocommerce Account Page
---------------------------------------------------------------------------------------------------- */

.woocommerce-MyAccount-navigation ul {
    margin-left: 0;
}

.woocommerce-MyAccount-navigation ul li {
    list-style-type: none;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 20%;
}

.woocommerce-account .woocommerce-MyAccount-content {
    width: 80%;
}


/* Woocommerce Misc
---------------------------------------------------------------------------------------------------- */

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
    background-color: $offwhite;
    border-top-color: $lightblue;
    border-top-width: 1px;
}

.woocommerce-info:before,
.woocommerce-message:before {
    color: $lightblue;
}

div.woocommerce-info.wc-memberships-restriction-message.wc-memberships-restricted-content-message {
    width: 48%;
}


/* Media Queries
---------------------------------------------------------------------------------------------------- */


/* @media only screen and (max-width: 1160px) {
#summary-wrapper {


div.summary {
-ms-flex: 0 0 44%;
    flex: 0 0 44%;
    //width: 45%;
}}

} */

@media only screen and (max-width: 767px) {
    #summary-wrapper {
        /* -ms-flex-direction: column;
        flex-direction: column; */

        /* div.images {
-ms-flex-pack: center;
    justify-content: center;
-ms-flex: 1 0 auto;
    flex: 1 0 auto;
width: 100%;
overflow: hidden;
}
 */
        div.summary {
            h1 {
                @include font-size(42);
            }
            p.price {
                color: lighten($maintext, 8%);
                margin-bottom: 15px;
                font-style: italic;
                line-height: 1;
                font-weight: 700;
            }
        }
        .woocommerce input.button,
        .woocommerce input.button[type="submit"],
        .woocommerce-cart table.cart td.actions .coupon .input-text {
            width: 100% !important;
        }
        .woocommerce-cart table.cart td.actions .coupon .input-text {
            background-color: #fff;
            margin-bottom: 10px;
        }
    }
    .woocommerce .cart-collaterals .cart_totals {
        width: 100%;
        padding-right: 1.5em;
    }
    td.actions .coupon {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 600px) {
    #summary-wrapper {
         -ms-flex-direction: column;
        flex-direction: column;
        .images-wrapper {
            width: 100%;
        }
        div.summary {
            width: 100%;
            h1 {
                @include font-size(36);
                text-align: center;
            }
        }
        p.price {
            font-size: 1.85rem!important;
            text-align: center;
        }
    }
    td.actions #coupon_code {
        width: 100%;
        margin-bottom: 10px;
    }
    td.actions input[name="apply_coupon"] {
        width: 100%!important;
    }
    .product-thumbnail {
        display: none;
    }


    .woocommerce .woocommerce-ordering {
        select {
            width: 45%!important;
        }
    }
}

