/*
  Theme Name: Dandelion & Ginger
  Theme URI: http://my.studiopress.com/
  Description: A woocommerce layout for existing web site
  Author: StudioPress & Launch Site
  Author URI: http://www.launchsite.co.uk
  Date: 25th January 2017
  Version: 1.0.0

  Template: genesis
  Template Version: 2.4.3

  License: GPL-2.0+
  License URI: http://www.opensource.org/licenses/gpl-license.php
*/


/* Box Sizing
--------------------------------------------- */

html,
input[type="search"] {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*
Defaults
---------------------------------------------------------------------------------------------------- */


/* Typographical Elements
--------------------------------------------- */

html {
    font-size: 62.5%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


/* Chrome fix */

body > div {
    font-size: 1.6rem;
}

body {
    background-color: $offwhite;
    color: $maintext;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    margin: 0;
}

body {
    background-image: url(images/woo-back-new.png);
    background-repeat: repeat;
    background-size: contain;
}


/* Headings & Common Styles
--------------------------------------------- */


/* Headings
--------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "segoe script bold";
    font-weight: 300;
    line-height: 1.2;
    margin: 0 0 10px;
}

h1 {
    font-size: 48px;
    font-size: 4.8rem;
}

h2 {
    font-size: 36px;
    font-size: 3.6rem;
}

h3 {
    font-size: 30px;
    font-size: 3rem;
}

h4 {
    font-size: 24px;
    font-size: 2.4rem;
}

h5 {
    font-size: 20px;
    font-size: 2rem;
}

h6 {
    font-size: 16px;
    font-size: 1.6rem;
}


/*
Common Classes
---------------------------------------------------------------------------------------------------- */


/*
.icon-features {
    fill: #fff;
    border-radius: 4px;
}

ul.features .icon {
    width: 35px;
    height: 35px;
}
 */

.icon.arrow {
    float: right;
    background: none;
    width: 35px;
}

p {
    @include css-hyphens(auto);
}


/* Genesis
--------------------------------------------- */

.breadcrumb {
    //font-size: 14px;
    //font-size: 1.4rem;
    margin: 0 30px 20px 30px;
    letter-spacing: 1px;
    a {
        color: $maintext;
        text-decoration: none;
        &:hover,
        &:focus {
            color: $lightbrown;
        }
    }
}

.after-entry {
    padding-bottom: 60px;
}

.author-box {
    line-height: 1.5;
    padding-bottom: 20px;
}

.after-entry,
.archive-description,
.author-box {
    /*border-bottom: 1px solid #eee;*/
    /*margin-bottom: 30px;*/
}


/* Titles
--------------------------------------------- */


/* WordPress
--------------------------------------------- */

a.aligncenter img {
    display: block;
    margin: 0 auto;
}

a.alignnone {
    display: inline-block;
}

.alignleft {
    float: left;
    text-align: left;
}

.alignright {
    float: right;
    text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
    max-width: 100%;
}

img.centered,
.aligncenter {
    display: block;
    margin: 0 auto 30px;
}

img.alignnone,
.alignnone {
    margin-bottom: 12px;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
    margin: 0 20px 20px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
    margin: 0 0 20px 20px;
}

.wp-caption-text {
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}

.entry-content p.wp-caption-text {
    margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
    margin: 0 0 30px;
}


/*
Widgets
---------------------------------------------------------------------------------------------------- */

.widget {
    word-wrap: break-word;
}

.widget p:last-child,
.widget ul > li:last-of-type,
.widget-area .widget:last-of-type {
    margin-bottom: 0;
}

.widget ul > li {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.widget ul > li:last-of-type {
    padding-bottom: 0;
}

.widget ol > li {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 20px;
    text-indent: -20px;
}

.widget li li {
    border: 0;
    margin: 0 0 0 30px;
    padding: 0;
}

.widget_calendar table {
    width: 100%;
}

.widget_calendar td,
.widget_calendar th {
    text-align: center;
}


/* Featured Content
--------------------------------------------- */

.featured-content .widget-title {
    margin-bottom: 30px;
}

.footer-widgets .featured-content .entry,
.sidebar .featured-content .entry {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.footer-widgets .featured-content .entry-header,
.sidebar .featured-content .entry-header {
    text-align: left;
}

.footer-widgets .featured-content .entry-header::after,
.sidebar .featured-content .entry-header::after {
    display: none;
}

.footer-widgets .featured-content .entry-title,
.sidebar .featured-content .entry-title {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.25;
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer-widgets .featured-content .entry-meta,
.sidebar .featured-content .entry-meta {
    font-size: 12px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-widgets .featured-content .entry-meta a,
.sidebar .featured-content .entry-meta a {
    color: #000;
    text-decoration: none;
}

.footer-widgets .featured-content .entry-meta a:hover,
.footer-widgets .featured-content .entry-meta a:focus,
.sidebar .featured-content .entry-meta a:hover,
.sidebar .featured-content .entry-meta a:focus {
    color: #d43c67;
}

.footer-widgets .featured-content .entry-image,
.sidebar .featured-content .entry-image {
    vertical-align: top;
}

.featured-content a.alignleft,
.featured-content a.alignright,
.featured-content .entry:last-of-type {
    margin-bottom: 0;
}

.featured-content a.aligncenter,
.featured-content a.alignleft,
.featured-content a.alignnone,
.featured-content a.alignright {
    border-bottom-width: 0;
}

.featured-content .entry:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

.featured-content .more-posts-title {
    display: block;
    padding-top: 30px;
}


/*
Sub Header
---------------------------------------------------------------------------------------------------- */

.admin-bar .site-header {
    top: 32px;
}

.logged-in {


}

/*
Site Header
---------------------------------------------------------------------------------------------------- */
div.shipping {
    width: 80%;
    background:$darkbrown;
    color: $offwhite;
    padding: 0.3em;
    text-align: center;
    margin:0 auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    text-shadow: -1px 0 0 rgba(0,0,0,0.3);
    -webkit-border-radius: 4px 10px 4px;
            border-radius: 4px 10px 4px;

i {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        font-size: 20px;
}

}


.site-header {
    background-color: $blue;
    border-bottom: 1px solid darken($blue, 10%);
    padding-left: 30px;
    padding-right: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.admin-bar .site-header {
    top: 32px;
}

.logged-in {
    .genesis-nav-menu .my-account a {
    position: static;
    right: 100%;
    }
}


/* Title Area
--------------------------------------------- */

.site-header {
    height: 83px;
    a {
        color: #FFF;
    }
    .title-area {
        /*margin-top: 2px;*/
        /*display: flex;*/
        /*float: left;*/
        width: 18.70324%;
        @include position(absolute, 10px 0 0 10px);
        .site-description,
        h1 {
            @include hide-text;
            margin-bottom: 0;
        }
    }
    .header-full-width .title-area {
        width: 100%;
    }
}

/*---- Styling the scrolling header ----*/

.home .site-title a {
    display: none;
}

.site-title a,
.white .site-header .site-title a {
    background-image: url(images/logo-mobile.svg);
    background-repeat: no-repeat;
    width: 159px;
    height: 55px;
    background-size: contain;
    margin-bottom: 0;
    outline: none;
    /*@include position(relative, 10px 0 0 10px);*/
    @include hide-text;
}




/* Widget Area
--------------------------------------------- */
/* .site-header .widget-area {
    float: right;
    text-align: right;
    width: 740px;
    width: 1010px;
} */

.site-header .widget {
    margin-bottom: 0;
    padding: 10px;
}

.site-header .widget_nav_menu {
    padding: 0;
}

.site-header .widget-title {
    margin-bottom: 5px;
}

.site-header .widget-area a {
    /*color: $green;*/
}

.site-header .widget-area a:hover {
    color: #ddd;
}


/* Skip Links
--------------------------------------------- */

.genesis-skip-link {
    margin: 0;
}

.genesis-skip-link li {
    height: 0;
    list-style: none;
    width: 0;
}


/* Display outline on focus */

:focus {
    color: #000;
    outline: #ccc solid 1px;
}


/* Screen Reader Text
--------------------------------------------- */

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
    background-color: #fff;
    color: #111;
    border: 0;
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type='submit']:focus,
.widget_search input[type='submit']:focus {
    clip: auto !important;
    height: auto;
    width: auto;
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 15px 23px 14px;
    color: #111;
    background: #fff;
    z-index: 100000;
    /* Above WP toolbar. */
    text-decoration: none;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
}


/*
Content Area Pages
---------------------------------------------------------------------------------------------------- */


/* Home Page
--------------------------------------------- */

.front-page-1 a, .front-page-2 a  {
    @include shutter-in-horizontal;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid $lightblue!important;
    @include font-size(32);
    &:before {
        background: $blue;
    }
    &:hover {
    background-color:  lighten(blue,10%);
    }
}

 .front-page-2 .button-wrapper {
    a {
color: $offwhite;
   float: right;
  &:hover {
    background-color: #fff;
  }
}}



/* Home Page End
--------------------------------------------- */

.entry,
.page.page-template-page_blog .content .entry {
    /*border-bottom: 1px solid #eee;*/
    margin-bottom: 60px;
    padding-bottom: 30px;
}

.page .content .entry {
    border-bottom: none;
}

.lead-capture-page .entry {
    margin-bottom: 0;
}

.page .content .entry,
.single .content .entry {
    padding-bottom: 0;
}

.entry-content ol,
.entry-content ul {
    margin-bottom: 30px;
    margin-left: 40px;
}

.entry-content ol > li {
    list-style-type: decimal;
}

.entry-content ul > li {
    list-style-type: disc;
}

.entry-content ol ol,
.entry-content ul ul {
    margin-bottom: 0;
}

.entry-content code {
    background-color: #000;
    color: #eee;
}

.center {
    text-align: center;
}

.intro {
    font-size: 24px;
    font-size: 2.4rem;
    font-style: italic;
    margin-bottom: 40px;
    text-align: center;
}


/* Entry Meta
--------------------------------------------- */

.entry-header {
    text-align: center;
}

.entry-header::after {
    border-bottom: 1px solid #000;
    content: "";
    display: block;
    margin: 0 auto 40px;
    padding-bottom: 10px;
    width: 2.5%;
}

p.entry-meta {
    font-size: 20px;
    font-size: 2rem;
}

.entry-categories,
.entry-tags {
    display: block;
}

.entry-comments-link::before {
    content: "\2014";
    margin: 0 6px 0 2px;
}


/* Pagination
--------------------------------------------- */

.pagination {
    clear: both;
    margin: 40px 0;
}

.adjacent-entry-pagination {
    margin-bottom: 0;
}

.archive-pagination a {
    color: #000;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 700;
}

.archive-pagination a:hover,
.archive-pagination a:focus {
    color: #d43c67;
}

.archive-pagination li {
    display: inline;
}

.archive-pagination li a {
    background-color: #f5f5f5;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 8px 12px;
    text-decoration: none;
    text-transform: uppercase;
}

.archive-pagination li a:hover,
.archive-pagination li a:focus,
.archive-pagination li.active a {
    background-color: #000;
    color: #fff;
}


/* Comments
--------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
    background-color: #fff;
    font-size: 20px;
    font-size: 2rem;
    margin-bottom: 40px;
}

.comment-list li {
    padding: 40px 0 0 30px;
}

.comment-list .depth-1 {
    padding-left: 0;
}

.comment-header {
    line-height: 1.5;
    margin-bottom: 30px;
}

.comment-content {
    clear: both;
}

.comment-content ul > li {
    list-style-type: disc;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
    width: 50%;
}

.comment-respond label {
    display: block;
    margin-right: 12px;
}

.comment-header p {
    margin-bottom: 0;
}

.entry-pings .reply {
    display: none;
}


/* Contact Page
---------------------------------------------------------------------------------------------------- */

.map-wrapper  {
        position: relative;
        padding-bottom: 40%; // This is the aspect ratio 300px/1800px
        height: 0;
        overflow: hidden;
        margin-bottom: 20px;
@media screen and (min-width: 1450px) {
    padding-bottom: 28%;
}
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}
}

.flex {
    @extend %flex;
}
.flex-items {
    padding: 0 0.9em;
    width: 49.99%;
    padding: 0 0.9em;
@media screen and (min-width: 801px) and (max-width:1200px) {
    width: 48.99%;
}
}

.contact   {
  ul,li {
    @extend %zero;
    list-style-type: none!important;
}
 li {
     margin-bottom: 8px;
 }

}


/* Sidebars
---------------------------------------------------------------------------------------------------- */

.sidebar {
    /* font-size: 20px;
    font-size: 2rem; */
    .widget {
        border-bottom: 1px solid #eee;
        padding: 40px 10px 40px;
        &:last-of-type {
            border-bottom: none;
        }
    }
}


/* Offscreen Content
---------------------------------------------------------------------------------------------------- */

.offscreen-content-wrapper {
    position: fixed;
    z-index: 1002;
    right: 0;
    top: 0;
    display: block;
}

.no-scroll {
    overflow: hidden;
}

.offscreen-content {
    background-color: rgba( 255, 255, 255, 1.0);
    display: none;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    padding: 20px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.offscreen-content .wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 720px;
}

.offscreen-container {
    display: table;
    overflow: hidden;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}

.home .offscreen-container {
    #yith_woocommerce_ajax_search-3 {
    width: 100%;
    }
}

.offscreen-container .widget-area {
    display: table-cell;
    padding-bottom: 20px;
    vertical-align: middle;
    width: 100%;
}


/* Offscreen Content Icon
--------------------------------------------- */

.ion-ios-close-empty,
.ion-ios-more {
    font-size: 22px;
    font-size: 2.2rem;
}

.ion-ios-close-empty {
    margin-right: 10px;
}

.offscreen-content-icon,
.offscreen-content-toggle {
    @include position(absolute, 11px 1px 0 0);
    /* right: 20px;
    top: 18px;
     */
    z-index: 10000;
}

.admin-bar .offscreen-content-icon,
.admin-bar .offscreen-content-toggle {
    top: 52px;
}

.offscreen-content-toggle button,
.offscreen-content-icon button {
    outline: none;
    background-color: transparent;
    color: #fff;
    @inlude font-size(16);
    &:hover {
        color: $lightblue;
        background-color: transparent!important;
    }
}

.offscreen-content button {
    background: $maintext;
    color: #fff;
    top: 0;
}

.offscreen-content button:hover,
//.offscreen-content button:hover {
{
    color: $white;
    background: $maintext;
}

.no-scroll .festi-cart-window-content,
.no-scroll .jckqvBtn {
    display: none!important;
}




/* Footer Widgets
---------------------------------------------------------------------------------------------------- */

.footer-outer {
    background-image: url(images/footer-grass.png), url(images/footer-dandelion.png);
    background-repeat: repeat-x;
    background-position: top center;
    height: 160px;
}

.footer-widgets {
    background-color: #CAD5ED;
    font-size: 16px;
    font-size: 1.6rem;
    position: relative;
    top: -1px;
    clear: both;
    h3 {
        color: $offwhite;
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
        @include font-size(38);
    &:after {
    display: none;
    }
    }
}

.footer-widgets .wrap {
    margin: 0 auto;
    color: darken($offwhite,5%);
    max-width: 1280px;
    padding-left: 60px;
    padding-right: 60px;
}

.footer-widgets .widget-area {
    float: left;
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer-widgets .widget {
    margin-bottom: 40px;
}

.footer-widgets-1 {
    .widget:first-of-type {
        margin-bottom: 10px;
    }
    .simple-social-icons li.social-email {
        margin-left: 0!important;
    }
}

.footer-widgets-1,
.footer-widgets-3 {
    width: 30%;
}

.footer-widgets-2 {
    padding-left: 4%;
    padding-right: 4%;
    width: 40%;

    #nav_menu-2 {
        ul,
        li {
            @extend %zero;
        }
        li {
            transition: all 0.35s;
            -moz-transition: all 0.35s;
            -ms-transition: all 0.35s;
            &:before {
                font-family: fontawesome;
                padding-right: 4px;
            }
            &:hover {
                padding-left: 5px;
                color: darken($primary-link-hover, 16%);
            }
            a {
                color: $offwhite;
                &:hover {
                    color: darken($primary-link-hover, 16%);
                }
            }
        }
    }
}

.gform_fields {
    li {
        @extend %zero;
    }
}

/* .footer-widgets p {
    //margin-bottom: 20px;
}

.footer-widgets .button {
    //background-color: #000;
    //margin-top: 10px;
}

.footer-widgets .button:hover {
    background-color: #d43c67;
} */


/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
    line-height: 1;
    padding: 0;
    text-align: center;
    color: $offwhite;
    background-color: $midblue;
    .wrap {
        @extend %flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0 auto;
        padding: 10px 60px;
    }
    p {
        font-size: 12px;
        font-size: 1.2rem;
        margin-bottom: 0;
    }
    a {
        color: $offwhite;
        &:hover,
        &:focus {
            color: $primary-link-hover;
        }
    }
}



/* Return to Top
---------------------------------------------*/

.cd-top {
    display: inline-block;
    height: 45px;
    width: 45px;
    position: fixed;
    z-index: 1000;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(199, 143, 85, 0.9) url(images/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
    transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}

.no-touch .cd-top:hover {
    background-color: #c78f55;
    opacity: 1;
}

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 50px;
        width: 50px;
        right: 30px;
        bottom: 30px;
    }
}


/* Fadein Effect
---------------------------------------------------------------------------------------------------- */

.site-container {
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
