@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import url("segoe_script_bold/stylesheet.css");
@font-face { font-family: 'Segoe Script Bold'; src: url('/fonts/segoe_script_bold.eot'); src: url('/fonts/segoe_script_bold.eot?#iefix') format('embedded-opentype'), url('/fonts/segoe_script_bold.svg#Segoe Script Bold') format('svg'), url('/fonts/segoe_script_bold.woff') format('woff'), url('/fonts/segoe_script_bold.ttf') format('truetype'); font-weight: normal; font-style: normal;}

@font-face { font-family: 'dandelion'; src: url('/fonts/dandelion.eot'); src: url('/fonts/dandelion.eot?#iefix') format('embedded-opentype'), url('/fonts/dandelion.svg#dandelion') format('svg'), url('/fonts/dandelion.woff') format('woff'), url('/fonts/dandelion.ttf') format('truetype'); font-weight: normal; font-style: normal;}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
}

.row {
  margin-left:0px;
  margin-right:0px;
}


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
  margin-top:50px;
  padding-top:20px;
  padding-bottom:20px;
}


/* Custom page CSS
-------------------------------------------------- */
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
	background-color: none;
}

/* Declare heights because of positioning of img element */
#myCarousel  .item {
	height: 600px;
	background-color: #bbb;
	width: auto;
	max-width: 100%;
	font-family: "segoe script bold";
}
#myCarousel img {
  max-width: 100%;
  min-width: 20%;
width: auto;
height: auto;
vertical-align: middle;
}


#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer {
  background-color:#414141;
}

#footer a {
  color:#efefef;
}

header {
  background: #333;
  color:#555;
}

header .dropdown-menu {
  top:74px;
  background: #ffcc33;
  border-width:0;
}

h1 {
	font-size: 50px;
	font-family: "segoe script bold";
}

.logo {
	font-size: 50px;
	position: absolute;
	z-index: 1200;
	color: #F8F8F8;
	top: 70px;
	text-align: center;
	width: 100%;
	font-family: "segoe script bold";
	background-color: rgba(95,117,130,0.53);
	border-width: thick;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 1%;
	padding-right: 7px;
	padding-left: 7px;
	padding-bottom: 7px;
	clear: both;
	height: 20%;



}

#nav {
  width: 100%;
  position:static;
  top:-32px;
}

#nav.affix {
   position: fixed;
   top: 0;
   z-index:10;
   -webkit-transition: all .6s ease-in-out;
}

#footer > .container {

}

@media (min-width: 767px) {
  .navbar-nav.nav-justified > li{
      float:none;
  }
}

.navbar-nav {
  margin: 1px 1px;
}

/* customize nav style */
.navbar-custom {
    background-color: #2e2e2e;
	font-weight:700;
    text-transform:uppercase;
    border-width:0;
}
.navbar-custom  .navbar-nav>li>a {
	color: #ddd;
}
.navbar-custom  .dropdown-menu li>a:hover {
	color: #eee;
}
.navbar-custom  .navbar-nav li>a:hover, .navbar-nav li .open, .navbar-custom .navbar-nav .active a  {
	background-color: #000;
}
.navbar-custom .navbar-nav>.dropdown>a .caret {
	border-top-color: #999;
	border-bottom-color: #999;
}

.navbar-collapse.in { /*3.0.2 bug workaround*/
    overflow-y: visible;
}

.navbar-toggle {
	outline:0;
}

.divider {
	height:50px;
}

.panel {
	border-width:0;
}

/* Breakpoints for panels */

@media (min-width: 768px) {
    .bg-4 [class^="col"]:nth-of-type(3n + 4) {
        clear: left;

}}



@media (max-width: 767px) {
	 .bg-4  [class^="col"]:nth-of-type(2n + 3) {
        clear: left;

}}


#map-canvas {
  	width: 100%;
  	height: 300px;
	margin: 0;
	padding: 15px;
}

.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #f2f3f2;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
}


section {
  color: #ffffff;
  min-height: 400px;
  height: auto !important;
  height: 100%;
  padding-top:100px;
}

.bg-1 {
	background: url(/assets/example/dandelion_ginger_necklace-min.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-2 {
	background: url(/assets/example/dandelion_outside_DG-min.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-3 {
	background: url(/assets/example/dandelion_inside_DG-min.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.bg-4 {
	padding-top:30px;
    background-color:#e6e6e6;
}

.panel .img-responsive {
	min-height: auto;
	max-height: 100%;
	width: 100%;
	min-width: 100%;
}
.anfra {
	font-size:30px;
}
.ginger {
color:#FF8800;
}
@media (max-width:573px) { .logo {height: 30%;} }